/* news 共通 */
.case_main .page_content {
    width:100%;
    max-width: none;
    margin:0;
}

.archive_news {
    max-width:1050px;
}

/*トップ画像*/
.category-news_pic {
    position:relative;

    /*@media all and (min-width:1000px) {
        height:80vh;

        img {
            height:100%;
        }
    }*/

    @media all and (max-width:768px) {
        height:50vh;

        img {
            height:100%;
        }
    }

    .copy {
        position:absolute;
        top:55%;
        transform: translatey(-50%);
        right:13%;
        font-size:2.4rem;

        @media all and (max-width:1024px) {
            top:52%;
            right:8%;
        }

        @media all and (max-width:768px) {
            font-size:(24/768)*100vw;
            top:40%;
        }

        @media all and (max-width:540px) {
            font-size:1.6rem;
            white-space: nowrap;
            top:39%;
        }

        @media all and (max-width:320px) {
            text-shadow: $font-default-c 1px 1px 3px;
        }

        &:before {
            position:absolute;
            top:-3vw;
            right:-4vw;
            transform:translatey(-50%);
            display:inline-block;
            content:'';
            width:(61/1440)*100vw;
            height:(61/1440)*100vw;
            background-image:url(assets/images/news/news-item-01.svg);
            background-repeat: no-repeat;
            background-size:contain;
            z-index:2;
        }

        &:after {
            position:absolute;
            bottom:-8.2vw;
            left:-4.8vw;
            transform:translatey(-50%);
            display:inline-block;
            content:'';
            width:(81/1440)*100vw;
            height:(70/1440)*100vw;
            background-image:url(assets/images/news/news-item-02.svg);
            background-repeat: no-repeat;
            background-size:contain;
        }

        &_text {
            color:#fff;

            &:after {
                position:absolute;
                bottom:-0.5vw;
                right:-3vw;
                transform:translatey(-50%);
                display:inline-block;
                content:'';
                width:80%;
                height:2px;
                background:#fff;
            }
        }
    }
}

/*リスト*/
.category-news {
    .category_header_title {
        p {
            font-size:2.4rem;
            text-align: center;
        }
    }

    &_pic {
        overflow: hidden;
    }
}

/*タイトル*/
.category_news_title {
    position:relative;
    font-size:2.4rem;

    &:before {
        position:absolute;
        top:50%;
        left:0;
        transform:translatey(-50%);
        display:inline-block;
        content:'';
        width:(268/1440)*100vw;
        height:(92/1440)*100vw;
        max-width:268px;
        max-height:92px;
        background-image:url(assets/images/news/news-item-03.svg);
        background-repeat: no-repeat;
        background-size:contain;
    }

    &:after {
        position:absolute;
        top:50%;
        right:0;
        transform:translatey(-50%) rotate(180deg);
        display:inline-block;
        content:'';
        width:(268/1440)*100vw;
        height:(92/1440)*100vw;
        max-width:268px;
        max-height:92px;
        background-image:url(assets/images/news/news-item-03.svg);
        background-repeat: no-repeat;
        background-size:contain;
    }
}


/*リスト一覧*/
.category_news {
    position:relative;
    display:flex;
    flex-direction: column;
    margin-bottom:10%;

    .news_link {
        position:relative;
        display:block;
        padding:1.5em 0 1em;

        &:after {
            position:absolute;
            bottom:2em;
            right:1em;
            /*transform:translatey(-50%);*/
            display:inline-block;
            content:'';
            width:2.1rem;
            height:1.5rem;
            background-image:url(assets/images/news/news-arrow-icon.svg);
            background-repeat: no-repeat;
            background-size:contain;
        }
    }

    &_list {
        border-bottom:solid 1px $border-c;

        .item_meta {
            li {
                line-height: 2.8;

                @media all and (max-width:768px) {
                    line-height: 2.2;
                }
            }

            .item_title {
                padding-right:2.6em;
            }
        }

        .item_inner {
            display:flex;
            gap:2em;

            .new-icon {
                width:4em;
            }
        }
    }

    @media all and (min-width:768px) {
        .news_link {
            &:hover {
                .item_title {
                    transition:all .3s;
                    padding-left:1.2em;
                    color:$bk-4;
                }
            }   

            &:hover:after {
                transition:all .5s;
                right:1.8em;
            }
        }
    }
}



/*アクセス非表示*/
.category-case .address {
    display:none;
}

