/* case 共通 */
.case_main .page_content {
    width:100%;
    max-width: none;
    margin:0;
}

/* トップ画像 */
.category-case .category-case_pic {
    position:relative;

    @media all and (min-width:1000px) {
        height:80vh;

        img {
            height:100%;
        }
    }

    @media all and (max-width:768px) {
        height:50vh;

        img {
            height:100%;
        }
    }
}

/*リスト*/
.category-case {
    .category_header_title {
        p {
            font-size:2.4rem;
            text-align: center;
        }
    }

    &_pic {
        overflow: hidden;
    }

    &_ct {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        width:80vw;
        max-width:1200px;
        margin:0 auto 8%;
        gap:4em 3em;

        @media all and (max-width:768px) {
            width:90vw;
            grid-template-columns: 1fr 1fr;
            gap:4em 2em;
            margin-bottom:12%;
        }

        @media all and (max-width:414px) {
            grid-template-columns: 1fr;
            margin-bottom:18%;
        }
    }

    &_list {
        position:relative;

        &:after {
            display:inline-block;
            content:'';
            position:absolute;
            top:-1em;
            right:-1.5em;
            width:1px;
            height:calc(100% + 1em);
            background:$border-c;

            @media all and (max-width:768px) {
                right:-1em;
            }
        }

        &:nth-child(3n):after{
            display:none;

            @media all and (max-width:768px) {
                display:block;
            }
        }

        &:nth-child(2n):after{
            @media all and (max-width:768px) {
                display:none;
            }
        }

        /*サムネイル*/
        .item_pic {
            margin-bottom:1em;
        }


        /*タイトル*/
        .item_title {
            text-align: center;
        }
    }

    @media all and (max-width:414px) {
        .category-case_list:after {
            display:none;
        }
    }
}



/*アクセス非表示*/
.category-case .address {
    display:none;
}

