/* Company 共通 */
.company_main .page_content {
    width:100%;
    max-width: none;
    margin:0;
}

.page_company_h2 {
    position:relative;
    display:inline-block;
    width:65%;
    margin-bottom:5%;
    font-size:3rem;
    color:#fff;
    letter-spacing: 0.2em;
    padding:0.2em 1em 0.2em 4.5em;
    text-align: left;

    @media all and (max-width:768px) {
        font-size:(28/768)*100vw;
        padding:0.2em 1em 0.2em 2em;
        width:80%;
    }

    @media all and (max-width:540px) {
        font-size:1.8rem;
    }
}

.page_company_h2.pattern01 {
    background:$company-h2-bk_pt01;
    transform: translatex(-6vw);

    &:after {
        display:inline-block;
        content:'';
        position:absolute;
        top:0;
        right:0;
        width:4vw;
        height:100%;
        background:$company-h2-bk_pt01-2;
    }

    p {
        color:#fff;
    }
}

.company_table {
    position:relative;
    width:80vw;
    max-width:1200px;
    margin:0 auto;
    padding:12% 0;
    background:#fff;

    th {
        position:relative;
        width:12em;
        border-collapse: separate;
        border-spacing: 5px 10px;
        text-align: start;
        padding:1.5em 2.5em;
        font-weight:bold;
        vertical-align: baseline;

        &:after {
            position:absolute;
            top:1.5em;
            right:0;
            display:inline-block;
            content:'';
            width:3px;
            height:2em;
            background:$border-c;
        }
    }

    td {
        padding:0em 2.5em;
    }

    &_address {
        dd {
            margin:0 0 1.5em 0;
        }
    }

    &_scale {
        display:flex;

        dd {
            margin:0;
        }
    }
}

/*アクセス削除*/
.company .address {
    display:none;
}


/*====================================================
　　Philosophy　代表挨拶
=====================================================*/
.page_message {
    margin:0 auto 8%;

    .message_top {
        position:relative;

        .message_pic {
            position:relative;
            top:0;
            left:0;
            width:100%;
            height:(610/1440)*100vw;
            overflow: hidden;

            @media all and (max-width:1100px) {
                height:(703/1440)*100vw;
            }

            @media all and (max-width:768px) {
                height:(645/768)*100vw;
            }

            img {
                height:100%;
            }
        }

        .page_company_h2 {
            position:absolute;
            top:(269/1440)*100vw;
            right:0;
            z-index:2;
            width:46%;
            font-size:(24/1440)*100vw;

            @media all and (max-width:1100px) {
                font-size:(28/1100)*100vw;
                top:(260/1100)*100vw;
            }

            @media all and (max-width:768px) {
                font-size:(30/768)*100vw;
                top:(296/768)*100vw;
            }
        }

        .company_name {
            position:absolute;
            top:(340/1440)*100vw;
            left:(200/1440)*100vw;
            color:#fff;
            font-size:(24/1440)*100vw;
            font-weight: bold;
            letter-spacing: 0.15em;
            line-height:1.3;
            z-index:2;

            @media all and (max-width:1100px) {
                font-size:(28/1100)*100vw;
                top:(320/1100)*100vw;
                left:(100/1100)*100vw;
                line-height:1.4;
            }

            @media all and (max-width:768px) {
                font-size:(24/768)*100vw;
                top:(436/768)*100vw;
                left:(30/768)*100vw;
            }
        }

        .name {
            position:absolute;
            top:(450/1440)*100vw;
            right:(240/1440)*100vw;
            color:#fff;
            font-size:(24/1440)*100vw;
            font-weight: bold;
            letter-spacing: 0.15em;
            line-height:1.4;
            z-index:2;

            @media all and (max-width:1100px) {
                font-size:(28/1100)*100vw;
                top:(400/1100)*100vw;
                right:(130/1100)*100vw;
                line-height:1.2;
            }

            @media all and (max-width:768px) {
                font-size:(24/768)*100vw;
                top:(510/768)*100vw;
                right:(50/768)*100vw;
            }

            &_en {
                font-size:(18/1440)*100vw;

                @media all and (max-width:1100px) {
                    font-size:(20/1100)*100vw;
                }

                @media all and (max-width:768px) {
                    font-size:(20/768)*100vw;
                }
            }
        }
    }

    .message_bottom {
        max-width:1200px;
        width:80vw;
        margin:10% auto 8%;

        @media all and (max-width:768px) {
            margin:16% auto 10%;
        }

        &_text {
            margin:0;

            dt {
                text-align: center;
                font-size:1.8rem;
                font-weight: bold;
                margin-bottom:5%;
            }

            dd {
                margin:0;
            }

            .post {
                margin-top:5%;
                text-align: end;
            }
        }
    }
}

/*====================================================
　　Philosophy　企業理念
=====================================================*/
.rinen {
    width:80vw;
    max-width:1200px;
    margin:10% auto;

    @media all and (max-width:540px) {
        margin-top:20%;
    }

    &_list {
        display:flex;
        flex-direction: column;
        gap:1.5em;
        margin:5%;

        li {
            position:relative;
            background:#fff;
            padding-left:1.5em;

            &:after {
                content:'';
                display:inline-block;
                position:absolute;
                top:50%;
                left:0;
                transform: translate(-50%);
                width:0.8em;
                height:1px;
                background:$font-default-c;
            }
        }
    }

    &_item {
        width:(870/1440)*100vw;
        height:(195/1440)*100vw;
        margin-left:auto;
    }
}


/*====================================================
　　Overview　会社概要
=====================================================*/
.page_overview {
    position:relative;
    margin-bottom:0;

    &:after {
        position:absolute;
        top:0;
        right:4vw;
        content:'';
        background:$bk-1;
        width:4vw;
        height:100%;
    }

    .overview_bk-01 {
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:4vw;
        height:100%;
        background:$company-overview-bk1;
    }

    .overview_bk-02 {
        content:'';
        position:absolute;
        top:0;
        right:0;
        width:4vw;
        height:100%;
        background:$company-overview-bk2;
    }

    &_inner {
        position:relative;
        z-index:2;

        .page_company_h2 {
            position:absolute;
            z-index:2;
            width:40vw;
            top:45%;
            right:0;
            transform: translatey(-50%);
            background:$overview-h2-bk;
            padding:0.2em (70/1440)*100vw 0.2em 0em;

            @media all and (min-width:1440px) {
                font-size:(30/1440)*100vw;
            }

            &:before {
                display:inline-block;
                content:'';
                position:absolute;
                top:0;
                left:-2.17em;
                border-top: 2.2em solid $overview-h2-bk;
                border-bottom: 2.2em solid transparent;
                border-left: 2.2em solid transparent;
                line-height: 0;
            }

            &:after {
                display:inline-block;
                content:'';
                position:absolute;
                top:0;
                right:0;
                width:4vw;
                height:100%;
                background:$bk-4;
            }

            p {
                color:#fff;
                text-align: center;
            }
        }

        .overview_pic {
            position:relative;
            top:0;
            left:0;
            height:(335/1440)*100vw;
        }
    }
}

.company_table {
    position:relative;
    width:80vw;
    max-width:1200px;
    margin:0 auto;
    padding:12% 0;
    background:#fff;

    @media all and (max-width:768px) {
        width:90vw;
    }

    th {
        position:relative;
        width:12em;
        border-collapse: separate;
        border-spacing: 5px 10px;
        text-align: start;
        padding:1.5em 2.5em;
        font-weight:bold;
        vertical-align: baseline;

        @media all and (max-width:768px) {
            width:6em;
            padding:1.5em;
        }

        &:after {
            position:absolute;
            top:1.5em;
            right:0;
            display:inline-block;
            content:'';
            width:3px;
            height:2em;
            background:$border-c;

            @media all and (max-width:768px) {
                width:1.5px;
            }
        }
    }

    td {
        padding:0em 2.5em;

        @media all and (max-width:768px) {
            padding: 0 1.5em;
        }
    }

    &_address {
        dd {
            margin:0 0 1.5em 0;
        }
    }

    &_scale {
        display:flex;
        gap:2em;

        dt {
            width:9em;
        }

        dd {
            margin:0;
        }
    }
}


/*====================================================
　　History　沿革
=====================================================*/
.page_history {
    position: relative;
    margin:0;

    &:after {
        position:absolute;
        top:0;
        right:4vw;
        content:'';
        background:$bk-1;
        width:4vw;
        height:100%;
        z-index:-1;

        @media all and (max-width:768px) {
            display:none;
        }
    }

    .page_company_h2.pattern02 {
        position:relative;
        background:$company-h2-bk_pt02;
        margin:-3vw auto 0;
        transform: translatex(-5vw);
    
        &:after {
            display:inline-block;
            content:'';
            position:absolute;
            top:0;
            left:0;
            width:4vw;
            height:100%;
            background:$company-h2-bk_pt02-2;
        }
    
        p {
            color:#fff;
        }
    }
}

.history {
    width:80vw;
    max-width:1200px;
    margin:0 auto;

    @media all and (max-width: 768px) {
        width:90vw;
        padding: 0 5vw 0 5vw;
    }

    &_list {
        margin:8% 0;
        
        li {
            display:flex;
            flex-direction: column;
            gap:3em;

            dl {
                display:grid;
                grid-template-columns:1fr 9fr;
                gap:6em;
                margin:0;

                @media all and (max-width:768px) {
                    gap:3em;
                }

                dt {
                    width:6.5em;
                    position:relative;
                    padding:0 0 2em;

                    @media all and (max-width:768px) {
                        font-size:1.3rem;
                    }

                    &:before {
                        position:absolute;
                        top:0;
                        right:-3em;
                        content:'';
                        display:inline-block;
                        background:$border-c;
                        width:3px;
                        height:100%;

                        @media all and (max-width:768px) {
                            right:-1.5em;
                            width:1.5px;
                        }
                    }

                    &:after {
                        position:absolute;
                        top:0;
                        right:-3.5em;
                        content:'';
                        display:inline-block;
                        background:#fff;
                        width:1.2em;
                        height:1.2em;
                        border:solid 3px $border-c;
                        border-radius: 3em;

                        @media all and (max-width:768px) {
                            right:-2em;
                            border:solid 2px $border-c;
                        }
                    }

                    .year {
                        font-size:2.6rem;
                        padding:1em 0;

                        @media all and (max-width:768px) {
                            font-size:2rem;
                        }
                    }
                }

                dd {
                    position:relative;
                    margin:0;
                }
            }
        }
    }

}


/*====================================================
　　Facility　設備
=====================================================*/
.page_facility {
    position:relative;
    margin:0 auto;

    .page_company_h2 {
        margin-top:10%;

        @media all and (max-width:768px) {
            transform:translatex(0);
        }
    }

    &:after {
        position:absolute;
        top:40%;
        right:4vw;
        content:'';
        background:$bk-1;
        width:4vw;
        height:60%;
        z-index:-1;

        @media all and (max-width:768px) {
            display:none;
        }
    }

    &_inner {
        width:80vw;
        max-width:1200px;
        margin:0 auto;

        @media all and (max-width:768px) {
            width:90vw;
        }
    }

    .company_table {
        background:inherit;

        @media all and (max-width:768px) {
            width:90vw;
            margin-bottom:10%;
        }

        th {
            width:8em;
        }

        &_scale {
            display:grid;
            grid-template-columns:1fr 1fr;
            gap:2.5em;

            @media all and (max-width:1000px) {
                grid-template-columns:1fr;
                gap:0;
            }

            dt {
                width:18em;
            }
    
            dd {
                margin:0;
            }
        }
    }
}


/*====================================================
　　Access　アクセス
=====================================================*/
.page_access {
    position:relative;
    margin:0;

    &:before {
        position:absolute;
        top:-20%;
        left:0;
        content:'';
        background:$bk-2;
        width:4vw;
        height:120%;
    }

    &:after {
        position:absolute;
        top:10%;
        right:0;
        content:'';
        background:$bk-4;
        width:4vw;
        height:90%;
    }

    &_inner {
        width:80vw;
        max-width:1200px;
        margin:0 auto;
    }

    &_list {
        display:grid;
        grid-template-columns: 1fr;
        gap:4em;
        max-width:1200px;
        padding:8% 0 15%;

        &_dl {
            display:grid;
            grid-template-columns: 1fr 1.5fr 2fr;
            gap:3em;

            @media all and (max-width:1024px) {
                grid-template-columns: 0.6fr 1.5fr 2fr;
                gap:2em;
            }

            @media all and (max-width:768px) {
                grid-template-columns: 1fr;
            }

            dt {
                width:12em;

                @media all and (max-width:1024px) {
                    width:8em;
                }
            }

            dd {
                a {
                    text-decoration: none;
                }
            }
        }

        li {
            dl {
                dt {
                    position:relative;

                    @media all and (max-width:768px) {
                        font-size:1.8rem;
                        padding-bottom:1em;
                        width:100%;
                        border-bottom:solid 1px $font-default-c;
                    }

                    @media all and (max-width:540px) {
                        font-size:1.6rem;
                    }

                    &:after {
                        position:absolute;
                        top:0em;
                        right:0;
                        display:inline-block;
                        content:'';
                        width:3px;
                        height:2em;
                        background:$border-c;

                        @media all and (max-width:768px) {
                            display:none;
                        }
                    }
                }

                dd {
                    margin:0;
                    line-height: 2.4;
                }

                .map {
                    iframe {
                        width:100%;
                        height:(310/1440)*100vw;
                        max-height:300px;

                        @media all and (max-width:768px) {
                            height:(310/768)*100vw;
                        }
                    }
                }
            }
        }
    }
}