/*===============================================================

  contact　お問い合わせ 共通

===============================================================*/
/*.contact {*/
  .page_contact_main {
    background:$bk-2;
    padding:10em 0 10em;

    .page_content {
      max-width:1220px;
      margin:0 auto;
      padding:8vw;
      background:#fff;
  
      @media all and (max-width:1000px) {
        padding:8vw 5vw;
      }
  
      @media all and (max-width:768px) {
        padding:12vw 5vw;
      }
  
      /*タイトル*/
      .contact_title {
        width:100%;
        margin:0 auto 10%;
        
        p {
          width:100%;
          font-size:2.4rem;
          text-align:center;
        }
  
      }
  
      /*テキスト*/
      .page_contact_text {
        text-align: center;
        margin-bottom:5%;
  
        .red {
          color:red;
        }
      }
  
      /*電話番号*/
      .page_contact_tel {
        border:solid 10px $bk-2;
        padding:3% 5%;
  
        @media all and (max-width:540px) {
          padding:6% 5%;
        }
  
        .page_contact_h2 {
          color:$font-default-c;
          font-size:1.8rem;
          text-align: center;
          margin:0 auto 5%;
        }
  
        &_list {
          display:flex;
          justify-content: center;
          align-items: center;
          gap:3em;
  
          @media all and (max-width:768px) {
            flex-direction: column;
            gap:1em;
          }
        }
  
        .tel_num {
          position:relative;
          padding-left:2em;
          font-size:2.2rem;
          font-weight:bold;
  
          @media all and (max-width:1000px) {
            font-size:1.8rem;
          }
    
          &:before {
            content:'';
            display:inline-block;
            position:absolute;
            top:50%;
            left:0;
            transform: translatey(-50%);
            width:30px;
            height:30px;
            background-image:url(assets/images/common/phone-icon.svg);
            background-repeat: no-repeat;
            background-size: contain;
  
            @media all and (max-width:1000px) {
              width:26px;
              height:26px;
            }
          }
        }
  
        .page_contact_hours {
          text-align: center;
        }
      }
    }
  
    /*ステップバー*/
    .contact_progressbar {
        position: relative;
        max-width:600px;
        margin: 8% auto 8%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index:1;
  
        & li {
          position: relative;
          list-style-type: none;
          text-align: center;
          text-transform: uppercase;
          width: 33.333%;
          color: $font-default-c;
          font-weight: bold;
      }
        & li:before {
          display: block;
          width: 32px;
          height: 32px;
          margin: 7px auto 15px auto;
          content: "";
          text-align: center;
          border-radius: 50%;
          background-image: url(assets/images/contact/contact-item01.svg); 
          background-repeat:no-repeat;
          background-size:contain;
          border:solid 5px #fff;
      }
        & li:after {
          display:inline-block;
          position: absolute;
          z-index: -1;
          top: 22px;
          left: -50%;
          width: 100%;
          height: 2px;
          content: '';
          background-color:$border-c;
      }
  
        & li:first-child:after {
        content: none;
      }
        & li.active,
        & li.complete{
          color: $font-default-c;
      }
        & li.active:before,
        & li.complete:before {
          background-image: url(assets/images/contact/contact-item02.svg); 
      }
        & li.active:after,
        & li.complete:after {
          background-color: $font-default-c;
      }
    }
  
    form {
      padding:0 10%;
      border-radius: 1em;
      margin:5% 0;
  
      @media all and (max-width:540px) {
        padding:5%;
  
        p {
          font-size: 1.5rem;
        }
      }
  
      .contact-item {
        padding:1em 0;
        display:flex;
        border-bottom:solid 1px $border-c2;
  
        @media all and (max-width:768px) {
          flex-direction: column;
        }
      }
  
      .contact-item, .contact-item2 {
        padding:1.5em 0;
        border-bottom:solid 1px $border-c2;
      }
  
      .border-none {
        border:none;
      }
  
      .beside, .beside-none{
        min-width:12em;
        color:$font-default-c;
        font-weight:bold;
      }
  
      .content {
        width:100%;
      }
  
      .required {
        color:red;
      }
  
      .privacy-policy_check {
        padding-left:1.8em;
        margin-top:-0.8em;
  
        a {
          border-bottom:solid 1px $font-default-c;
          color:$font-default-c;
          font-weight:600;
        }
      }
  
      /*==========================
  
        ラジオボタンのスタイル
  
      ============================*/
      .radio .wpcf7-list-item.first {
        margin: 0;
      }
      .radio .wpcf7-list-item-label {
        cursor: pointer;
        display: flex;
        margin-left:2em;
  
        @media all and (max-width:768px) {
          margin-top:1em;
        }
      }
      /* デフォルトのボタン */
      .radio input[type="radio"] {
        opacity: 0; /* デフォルトのボタンを非表示 */
        position: absolute;
      }
      /* チェック前のボタン */
      .radio .wpcf7-list-item-label::before {
        background: #fff;
        border: 1.5px solid $font-default-c;
        border-radius: 100%; /* ラジオボタンっぽく丸くする */
        content: "";
        height: 1.4em;
        margin-bottom: auto;
        margin-right: .5em;
        margin-top: auto;
        transition: background-color .5s; /* 色をじんわり変化させる */
        width: 1.4em;
      }
      /* チェック後のボタン */
      .radio input[type="radio"]:checked + .wpcf7-list-item-label::before {
        background-color: $bk-4; /* チェック後の中心の色 */
        box-shadow: inset 0 0 0 3px #fff; /* 中心の色のスタイル */
      }
  
      .wpcf7-list-item {
        margin:0;
      }
  
      .wpcf7-form-control {
        padding:0.5em 0.8em;
      }
  
      /*セレクトボタン*/
      select.wpcf7-form-control  {
        height:3.5em!important;
        background:$input-bk;
        border:none;
        width:100%;
  
        @media all and (max-width:540px) {
          width:100%;
        }
      }
  
      /*input*/
      input.wpcf7-form-control {
        height:3.5em!important;
        background:$input-bk;
        border:none;
        width:100%;
  
        @media all and (max-width:540px) {
          width:100%;
        }
      }
  
      /*textarea*/
      textarea.wpcf7-form-control {
        border:none;
        background:$input-bk;
        width:100%;
      }
  
      /*同意ボタン*/ 
      .wpcf7-form-control.wpcf7-checkbox {
        padding-right:0;
        padding-left:0;
        font-weight:bold;
      }
  
  
      .sendBtn {
        width:12em;
        text-align:center;
        margin:5em auto 0;
  
        input {
          padding:1em 2em 1em 2em;
          border-radius: 0.6em;
          border:none;
          background:$btn;
          color:#fff;
          font-weight:bold;
          letter-spacing: 0.1em;
          cursor:pointer;
        }
      }
    }
  }
/*}*/

/*アクセス非表示*/
.contact .address, .recruit-entory .address{
  display:none;
}



