/*--====================================================
   取り組み共通
=====================================================*/
.effort {
    p, dl dt, dl dd {
        line-height:2.2;
    }

/* トップ画像 */
.page_title-pic {
    position:relative;

    @media all and (min-width:1000px) {
        height:(580/1440)*100vw;

        img {
            height:100%;
        }
    }

    @media all and (max-width:768px) {
        height:50vh;

        img {
            height:100%;
        }
    }

    .copy {
        position:absolute;
        top:55%;
        left:45%;
        transform:translate(-50%, -50%);
        font-size:2.4rem;
        font-weight:600;
        color:#fff;
        text-align:center;
        z-index:2;

        @media all and (max-width:768px) {
            font-size:(24/768)*100vw;
        }

        @media all and (max-width:540px) {
            font-size:1.6rem;
            white-space: nowrap;
        }

        &:after {
            content:'';
            display:inline-block;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            width:(586/1440)*100vw;
            height:(196/1440)*100vw;
            background-image: url(assets/images/effort/main-image-item.svg);
            background-repeat: no-repeat;
            background-size:contain;
            z-index:-1;
        }
    }
}
}

.effort_text {
    width:80vw;
    max-width:1050px;
    margin:12% auto 8%;

    @media all and (max-width:768px) {
        margin:12% auto 12%;
    }

    dl {
        max-width:76vw;
        margin:0 auto;
        position:relative;
        z-index:2;

        @media all and (max-width:1100px) {
            max-width:70vw;
        }

        @media all and (max-width:768px) {
            max-width:80vw;
        }

        &:before {
            content:"";
            display:inline-block;
            position:absolute;
            top:-5vw;
            left:-10vw;
            width:(311/1440)*100vw;
            height:(580/1440)*100vw;
            max-width:311px;
            max-height:580px;
            background-image:url(assets/images/effort/circle-item-01.svg);
            background-repeat: no-repeat;
            background-size: contain;

            @media all and (max-width:1100px) {
                width:60vw;
                top:2vw;
                left:-14vw;
            }

            @media all and (max-width:768px) {
                top:inherit;
                bottom:3vw;
                left:-5vw;
            }
        }

        &:after {
            content:"";
            display:inline-block;
            position:absolute;
            top:-5vw;
            right:-10vw;
            width:(295/1440)*100vw;
            height:(613/1440)*100vw;
            max-width:295px;
            max-height:613px;
            background-image:url(assets/images/effort/circle-item-02.svg);
            background-repeat: no-repeat;
            background-size: contain;

            @media all and (max-width:1100px) {
                top:2vw;
                right:-14vw;
            }

            @media all and (max-width:768px) {
                top:inherit;
                bottom:3vw;
                right:-5vw;
            }
        }
    }

    dt {
        text-align: center;
        font-size:1.8rem;
        font-weight:bold;
        margin-bottom:6%;
    }

    dd {
        margin:0 auto;

        .blue {
            color:$blue-text;
            font-weight:600;
        }
    }

    &_pic {
        width:60%;
        max-width:618px;
        margin:5% auto 0;
        padding-bottom:10%;

        @media all and (max-width:768px) {
            margin:10% auto 0!important;
            padding-bottom:15%;
        }

        p {
            text-align: center;
            line-height:1.8;
            margin-top:1em;
        }
    }
}

.effort_img_pic {
    position:relative;
    max-width:930px;
    margin:0 auto;

    .copy {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        color:#fff;
        font-size:2.4rem;
        font-weight: bold;
        text-align: center;

        @media all and (max-width:768px) {
            font-size:(24/768)*100vw;
        }

        @media all and (max-width:540px) {
            font-size:1.6rem;
            white-space: nowrap;
        }
    }
}


.page_sdgs {
    width:70vw;
    max-width:1100px;
    margin:15% auto;

    @media all and (max-width:768px) {
        width:80vw;
    }

    &_list {
        display:flex;
        flex-direction: column;
        gap:6em;

        @mixin item {
            position:absolute;
            content:'';
            display:inline-block;
            background-repeat: no-repeat;
            background-size:contain;
        }

        /*ワークライフバランスと健康経営*/
        .item-01 {
            .item-01_text {
                position:relative;
                z-index:2;

                &:after {
                    position:absolute;
                    top:-8vw;
                    left:-10vw;
                    content:'';
                    display:inline-block;
                    width:(207/1440)*100vw;
                    height:(207/1440)*100vw;
                    background-image:url(assets/images/effort/circle-item-03.svg);
                    background-repeat: no-repeat;
                    background-size:contain;
                }
            }

            .item-01_text02 {
                position:relative;
                z-index:2;

                &:after {
                    position:absolute;
                    bottom:-5vw;
                    right:-10vw;
                    content:'';
                    display:inline-block;
                    width:(363/1440)*100vw;
                    height:(317/1440)*100vw;
                    background-image:url(assets/images/effort/circle-item-04.svg);
                    background-repeat: no-repeat;
                    background-size:contain;
                }
            }
        }

        /*社会問題の解決*/
        .item-02 {
            position:relative;

            .page_sdgs_h2 {
                position:relative;

                &:after {
                    @include item;
                    top:-5vw;
                    right:1vw;
                    width:(93/1440)*100vw;
                    height:(93/1440)*100vw;
                    background-image:url(assets/images/effort/circle-item-05.svg);
                }
            }

            .item-01_text01 {
                position:relative;

                &:before {
                    @include item;
                    bottom:-2vw;
                    left:-5vw;
                    width:(123/1440)*100vw;
                    height:(161/1440)*100vw;
                    background-image:url(assets/images/effort/circle-item-06.svg);
                }

                &:after {
                    @include item;
                    bottom:-4vw;
                    right:-5vw;
                    width:(114/1440)*100vw;
                    height:(120/1440)*100vw;
                    background-image:url(assets/images/effort/circle-item-07.svg);
                }
            }
        }

        /*DXの推進*/
        .item-03 {
            .item-01_text01 {
                position:relative;

                &:before {
                    @include item;
                    bottom:-4vw;
                    left:-8vw;
                    width:(126/1440)*100vw;
                    height:(263/1440)*100vw;
                    background-image:url(assets/images/effort/circle-item-08.svg);
                }

                &:after {
                    @include item;
                    bottom:2vw;
                    right:-5vw;
                    width:(143/1440)*100vw;
                    height:(143/1440)*100vw;
                    background-image:url(assets/images/effort/circle-item-09.svg);
                }
            }
        }

        /*資源循環型社会の実現と省エネ*/
        .item-04 {
            position:relative;

            .item-01_text01 {
                position:relative;
                z-index:2;

                &:before {
                    @include item;
                    top:-4vw;
                    left:-10vw;
                    width:(191/1440)*100vw;
                    height:(271/1440)*100vw;
                    background-image:url(assets/images/effort/circle-item-10.svg);
                    z-index:-1;
                }
            }

            .list_item_inner-02_img {
                position:relative;

                &:after {
                    @include item;
                    bottom:-6vw;
                    right:-10vw;
                    width:(220/1440)*100vw;
                    height:(170/1440)*100vw;
                    background-image:url(assets/images/effort/circle-item-11.svg);
                    z-index:-1;
                }
            }
        }

        /*地域経済の活性化*/
        .item-05 {
            .item-01_text01 {
                position:relative;
                z-index:2;

                &:before {
                    @include item;
                    top:-12vw;
                    left:-6vw;
                    width:(128/1440)*100vw;
                    height:(128/1440)*100vw;
                    background-image:url(assets/images/effort/circle-item-12.svg);
                    z-index:-1;
                }

                &:after {
                    @include item;
                    bottom:-6vw;
                    right:-5vw;
                    width:(152/1440)*100vw;
                    height:(128/1440)*100vw;
                    background-image:url(assets/images/effort/circle-item-13.svg);
                    z-index:-1;
                }
            }

            .list_item_inner-02_img {
                position:relative;

                &:after {
                    @include item;
                    bottom:-4vw;
                    right:-4vw;
                    width:(76/1440)*100vw;
                    height:(76/1440)*100vw;
                    background-image:url(assets/images/effort/circle-item-14.svg);
                }

            }
        }

        li {
            border-bottom:solid 1px $font-default-c;
            padding-bottom:6em;

            h2 {
                width:50%;
                font-size:1.8rem;
                margin:0;
                text-align: center;

                @media all and (max-width:768px) {
                    width:100%;
                    margin-bottom:5%;
                }
            }

            .list_item_inner-01 {
                display:flex;
                justify-content: space-between;
                align-items: center;
                gap:2em;
                margin-bottom:8%;

                @media all and (max-width:768px) {
                    flex-direction: column;
                    align-items:flex-start;
                }

                .sdgs_icon {
                    width:45%;
                    display:flex;
                    gap:0.5em;

                    @media all and (max-width:768px) {
                        width:100%;
                    }

                    @media all and (max-width:540px) {
                        flex-wrap:wrap;
                    }

                    img {
                        width:(112/1440)*100vw;
                        height:(112/1440)*100vw;
                        max-width:112px;
                        max-height:112px;
                        min-width:55px;
                        min-height:55px;

                        @media all and (max-width:767px) {
                            min-width:65px;
                            min-height:65px;
                        }
                    }
                }
            }

            .list_item_inner-02 {
                display:flex;
                justify-content: space-between;
                gap:4em;
                margin-bottom:5%;

                @media all and (max-width:1050px) {
                    gap:2em;
                }

                @media all and (max-width:768px) {
                    flex-direction: column;
                }

                p {
                    width:50%;

                    @media all and (max-width:768px) {
                        width:100%;
                    }
                }

                &_img {
                    position:relative;
                    width:45%;
                    max-width:465px;
                    z-index:3;

                    @media all and (max-width:1050px) {
                        width:(465/1440)*100vw;
                    }

                    @media all and (max-width:768px) {
                        width:100%;
                    }
                }
            }
        }
    }
}

.quality {
    width:80vw;
    max-width:850px;
    margin:0 auto;

    @media all and (max-width:768px) {
        width:90vw;
    }

    h2 {
        text-align:center;
        margin-bottom:8%;
    }

    .quality_aq {
        display:flex;
        justify-content:center;
        gap:2em;
        margin-bottom:6%;

        @media all and (max-width:768px) {
            flex-direction: column;
            justify-content:flex-start;
            gap:4em;
            margin-bottom:15%;
        }

        &_text {
            position:relative;
            width:45%;

            &:after {
                content:'';
                display:inline-block;
                position:absolute;
                bottom:-0.5em;
                right:0;
                background:$item-c;
                width:50%;
                height:1.5px;
            }

            @media all and (max-width:768px) {
                width:100%;
                border-bottom:none;
            }
        }

        &_pic {
            max-width:254px;
            margin:0 auto;
        }
    }

    .nintei {

        &_list {
            padding-left:1em;

            li {
                list-style-type: disc;
                color:#467886;

                a {
                    padding:0.2em 0;
                    color:#467886;
                    transition:all .3s;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


/*アクセス非表示*/
.effort .address {
    display:none;
}