/*--====================================================
   取り組み共通
=====================================================*/
.effort {
    p, dl dt, dl dd {
        line-height:2.2;
    }
}

/* トップ画像 */
.page_title-pic {
    position:relative;

    .copy {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        font-size:2.4rem;
        color:#fff;
        text-align:center;
        z-index:2;

        &:after {
            content:'';
            display:inline-block;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            width:(586/1440)*100vw;
            height:(196/1440)*100vw;
            background-image: url(assets/images/effort/main-image-item.svg);
            background-repeat: no-repeat;
            background-size:contain;
            z-index:-1;
        }
    }
}

.effort_text {
    max-width:1050px;
    margin:8% auto;

    dl {
        position:relative;

        &:before {
            content:"";
            display:inline-block;
            position:absolute;
            top:-5vw;
            left:-10vw;
            width:(311/1440)*100vw;
            height:(580/1440)*100vw;
            background-image:url(assets/images/effort/circle-item-01.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }

        &:after {
            content:"";
            display:inline-block;
            position:absolute;
            top:-5vw;
            right:-10vw;
            width:(295/1440)*100vw;
            height:(613/1440)*100vw;
            background-image:url(assets/images/effort/circle-item-02.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    dt {
        text-align: center;
        font-size:1.8rem;
        margin-bottom:4%;
    }

    dd {
        margin:0 auto;
    }

    &_pic {
        width:60%;
        max-width:618px;
        margin:5% auto 2%!important;

        p {
            text-align: center;
        }
    }
}

.effort_img_pic {
    position:relative;
    max-width:930px;
    margin:0 auto;

    .copy {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        color:#fff;
        font-size:2.4rem;
        text-align: center;
    }
}


.page_sdgs {
    &_list {
        display:flex;
        flex-direction: column;
        gap:6em;


        li {
            border-bottom:solid 1px $font-default-c;
            padding-bottom:6em;

            h2 {
                width:50%;
                font-size:1.8rem;
                text-align: center;
            }
            .list_item_inner-01 {
                display:flex;
                justify-content: space-between;
                gap:2em;
                margin-bottom:8%;

                .sdgs_icon {
                    display:flex;

                    img {
                        max-width:112px;
                        max-height:112px;
                    }
                }
            }

            .list_item_inner-02 {
                display:flex;
                gap:4em;

                p {
                    width:45%;
                }

                &_img {
                    max-width:465px;
                }
            }
        }
    }
}

.quality {
    max-width:1050px;
    margin:0 auto;

    h2 {
        text-align:center;
        margin-bottom:8%;
    }

    .quality_aq {
        display:flex;
        justify-content: space-between;
        gap:4em;
        margin-bottom:6%;

        &_text {
            width:45%;
            border-bottom:solid 1px $font-default-c;
        }

        &_pic {
            max-width:254px;
            margin:0 auto;
        }
    }

    .quality_more {
        display:flex;
        justify-content: space-between;
        gap:4em;

        &_list {
            width:45%;

            li {
                dl {
                    display:grid;
                    grid-template-columns: 1fr 2fr;
                    gap:3em;
                    margin:0.5em 0;
                }
            }
        }

        &_pic {
            max-width:342px;
            margin:0 auto;
        }
    }
}


/*アクセス非表示*/
.effort .address {
    display:none;
}