/*====================================================
　　recruitページ全体
=====================================================*/
.page_recruit_h1 {
    text-align: center;
    color:#fff;
    font-size:3rem;
    letter-spacing: 0.15em;
    margin:0 0 8% 0;

    @media all and (max-width:540px) {
        font-size:2.6rem;
    }
}

.recruit_bk_blue {
    background:$bk-4;
}

.recruit_bk_blue02 {
    position:relative;
    background:$bk-2;
    width:100vw;
    margin-left: calc(50% - 50vw);
    padding:8vw 0;
    z-index:-1;
}

.recruit_main .page_content {
    width:100%;
    max-width: none;
    margin:0;
}

.page_recruit_h2 {
    text-align:center;
    letter-spacing: 0.2em;
    margin-bottom:8%;

    @media all and (max-width:768px) {
        font-size:2rem;
    }
}

/*上部に戻るボタン*/
.topBK-btn {
    margin-top:3em;
    text-align: end;

    a {
        position:relative;
        font-size:1.3rem;

        &:after {
            position: absolute;
            top: -3em;
            left: 50%;
            transform: translatex(-50%) rotate(180deg);
            content: "";
            display: inline-block;
            border-top: 1.2em solid $btn;
            border-right: 0.7em solid transparent;
            border-bottom: 1.2em solid transparent;
            border-left: 0.7em solid transparent;
          }
    }
}

/*====================================================
　　recruitメインビジュアル
=====================================================*/
.recruit_main_img {
    position:relative;
    width:92vw;
    margin:0 auto;
    z-index:2;

    @media all and (max-width:768px) {
        margin:0 auto 6%;
    }
 
    &:after {
        position:absolute;
        top: 24%;
        left:-4vw;
        display:inline-block;
        content:'';
        background:$bk-1;
        width:100vw;
        height:(140/1440)*100vw;
        z-index:-1;
    }

    @media all and (max-width:1200px) {
        padding-top:5.5em;
    }

    .recruit_pic {
        position:relative;
        width:(1050/1440)*100vw;
        height:(585/1440)*100vw;
        max-height:90vh;
        margin: 0 0 0 auto;
        overflow: hidden;
    }

    .recruit_main_copy {
        position:absolute;
        top:50%;
        left:0;
        font-size:(100/1440)*100vw;
        color:#fff;
        line-height: 1.2;
        letter-spacing: 0;
        font-weight:900;
        margin:0;

        @media all and (min-width:1440px) {
            font-size:10rem;
        }

        @media all and (max-width:768px) {
            top:70%;
        }

        .copy_01 {
            position:relative;
            &:after {
                position:absolute;
                content:'';
                bottom:0;
                left:-5vw;
                display:inline-block;
                width:140%;
                height:(5/1440)*100vw;
                background:#fff;
            }
        }

        .copy_02 {
            position:relative;
            &:after {
                position:absolute;
                content:'';
                bottom:0;
                right:-60vw;
                display:inline-block;
                width:80vw;
                height:(5/1440)*100vw;
                background:#fff;
            }
        }

        .copy_03 {
            position:relative;
            &:after {
                position:absolute;
                content:'';
                bottom:0;
                left:-5vw;
                display:inline-block;
                width:50%;
                height:(5/1440)*100vw;
                background:#fff;
            }
        }

        @media all and (min-width:1440px) {
            font-size:10rem;
        }
    }
}

.recruit_top_text { 
    position:relative;
    width:80vw;
    max-width:1000px;
    margin: 0 auto;
    padding:8% 0 8% 15%;
    font-size:1.6rem;
    font-weight:bold;

    .item_after {
        position:relative;
        margin-bottom:10%;

        &:after {
            content:"";
            display:inline-block;
            position:absolute;
            bottom:-8vw;
            left:-20vw;
            width:(562/1440)*100vw;
            height:(340/1440)*100vw;
            max-width:562px;
            max-height:340px;
            background-image:url(assets/images/recruit/recruit-item01.svg);
            background-repeat: no-repeat;
            background-size: contain;

            @media all and (min-width:1500px) {
                bottom:-400%;
                left:-20em;
            }
        }
    }

    p {
        color:#fff;
        margin:3em 0;
        padding-left:6%;
    }
}

/*====================================================
　　タブ切り替え
=====================================================*/

.pageRecruit {
    position:relative;
    background:$bk-4;
    margin-bottom:15%;
    z-index:2;
}

.pageRecruit_list {
    width: 80vw;
    margin:0 auto;

    @media all and (max-width:768px) {
        width: 90vw;
    }

    .tab-button {
        position:relative;
        display: flex;
        justify-content: space-between;
        gap:1.5em;
        cursor: pointer;
        margin-bottom:4em;

        @media all and (max-width:768px) {
            gap:0.5em;
        }

        @media all and (max-width:540px) {
            flex-direction: column;
        }

        &:after {
            position:absolute;
            bottom:-2em;
            left:0;
            content:'';
            display:inline-block;
            width:100%;
            height:4px;
            background:#fff;
        }
    }

    .tab-button .is-active {
        color: #FFF;
    }

    .tab {
        width: calc(100% / 3);
        text-align: center;
        background:#fff;
        font-size:2rem;
        padding:1em 0;

        @media all and (max-width:1000px) {
            font-size:(28/1440)*100vw;
        }

        @media all and (max-width:768px) {
            font-size:(17/768)*100vw;
        }

        @media all and (max-width:540px) {
            width: 100%;
            font-size:1.6rem;
        }
    }
    
    .tab-contents {
        border-top: none;
    }
    
    .pageRecruit_content {
        position:relative;
        display: none;
        text-align: left;
        z-index:2;
    }
    
    .pageRecruit_content.is-display {
        display: block;
    }

    .tab-01.is-active {
        background:$tab-01;
    }

    .tab-02.is-active {
        background:$tab-02;
    }

    .tab-03.is-active {
        background:$tab-03;
    }
}

.tab-contents {
    .pageRecruit_top_content {
        padding:8%;
        background:#fff;
        margin-bottom:8vw;

        @media all and (max-width:768px) {
            padding:10% 8%;
        }
    }

    /*概要*/
    .page_recruit_gaiyou {
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:2em;
        margin-bottom:10%;

        @media all and (max-width:768px) {
            grid-template-columns: 1fr;
            gap:1em;
            margin-bottom:20%;
        }

        .gaiyou_box {
            @media all and (max-width:768px) {
                order:2;
            }
        }

        .pageRecruit_list_dl {
            dt {
                font-size:2.2rem;
                margin-bottom:10%;

                @media all and (max-width:768px) {
                    margin-bottom:3%;
                }

                @media all and (max-width:540px) {
                    font-size:1.8rem;
                }
            }

            dd {
                margin:0;
            }
        }
    }


    /*インタビュー*/
    .page_recruit_interview {
        .interview_box {
            display:grid;
            grid-template-columns: 1fr 1fr;
            gap:3em;
            margin-bottom:5%;

            @media all and (max-width:768px) {
                grid-template-columns: 1fr;
                gap:1em;
            }
        }

        .pageRecruit_list_dl {
            .senior_name {
                font-size:1.8rem;
                margin-bottom:8%;
                .name {
                    font-size:2rem;

                    @media all and (max-width:540px) {
                        font-size:1.8rem;
                    }
                }
            }
            dd {
                margin:0;
                dl {
                    display:flex;
                    margin:0.4em 0;
                }
            }
        }
    }

    .page_recruit_h2.color {
        margin-bottom:5%;
        text-align:left;
        font-size:2.4rem;

        @media all and (max-width:540px) {
            font-size:2rem;
        }
    }

    /*加工機オペレーター*/
    .tab-01 {
        .color {
            color:$tab-01;
            font-weight:bold;
        }
    }

    /*CADオペレーター*/
    .tab-02 {
        .color {
            color:$tab-02;
            font-weight:bold;
        }
    }

    /*セールスオペレーター*/
    .tab-03 {
        .color {
            color:$tab-03;
            font-weight:bold;
        }
    }

    /*募集要項*/
    .page_recruit_job {
        position:relative;
        width:80vw;
        margin:0 auto;
        background:#fff;
        padding:4% 8%;

        @media all and (max-width:768px) {
            padding:8% 4%;
        }

        &:after {
            position:absolute;
            top:50%;
            left:0;
            transform:translatey(-50%);
            content:'';
            display:inline-block;
            width:100vw;
            margin: 0 calc(50% - 50vw);
            height:30vw;
            background:$bk-1;
            z-index:-1;
        }

        @media all and (max-width:768px) {
            width:90vw;
            padding:8% 4%;
        }

        .recruit_table {
            tr {
                display:grid;
                grid-template-columns: 1fr 6fr;
                gap:3em;
                margin:3em 0;

                @media all and (max-width:768px) {
                    gap:1.5em;
                }

                th {
                    width:8em;
                    padding:0;
                }
            }
            td {
                padding:0;
                dd {
                    margin:0;
                }
            }

            &_dl {
                margin:1em 0;
            }
        }

        .entry-button {
            margin-top:8%;
        }
    }

    /*採用の流れ*/
    .page_recruit_flow {
        background:#fff;
        width:80vw;
        margin:8vw auto;
        padding:4% 8%;

        @media all and (max-width:768px) {
            width:90vw;
            padding:8% 4%;
        }

        .recruit_flow_list {
            margin:10% auto 0;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            max-width:874px;
            gap:3em;

            @media all and (max-width:1000px) {
                width:80%;
                grid-template-columns: 1fr;
                gap:4em;
            }

            li {
                position:relative;

                &:after {
                    @media all and (max-width:1000px) {
                        content:'';
                        display:inline-block;
                        position:absolute;
                        bottom:-3em;
                        left:50%;
                        transform:translatex(-50%) rotate(90deg);
                        width:(77/1440)*100vw;
                        height:(74/1440)*100vw;
                        min-width:37px;
                        min-height:34px;
                        background-image:url(assets/images/recruit/recruit-item02.svg);
                        background-size:contain;
                        background-repeat: no-repeat;
                    }
                }

                &:last-child::after {
                    display:none;
                }
            }

            .flow_item {
                display:flex;
                align-items: center;
                justify-content: center;
                position:relative;
                width:(130/1440)*100vw;
                height:(100/1440)*100vw;
                max-width:130px;
                max-height:100px;
                min-width:60px;
                min-height:30px;
                text-align:center;
                border-radius: 0.5em;
                margin:0 auto 3em;
                padding:1em 0.2em;
                background:$bk-1;

                @media all and (max-width:1000px) {
                    width:100%;
                    height:inherit;
                    max-width:inherit;
                    margin-bottom:1em;
    
                }

                &:before {
                    content:'';
                    display:inline-block;
                    position:absolute;
                    top:50%;
                    right:-60%;
                    transform:translateY(-50%);
                    width:(57/1440)*100vw;
                    height:(54/1440)*100vw;
                    max-width:57px;
                    max-height:54px;
                    background-image:url(assets/images/recruit/recruit-item02.svg);
                    background-size:contain;
                    background-repeat: no-repeat;

                    @media all and (max-width:1000px) {
                        display:none;
                    }
                }

                &:after {
                    content:'';
                    display:inline-block;
                    position:absolute;
                    top:-30%;
                    left:-8%;
                    width:140%;
                    height:150%;
                    background-image:url(assets/images/recruit/recruit-flow01.svg);
                    background-size:contain;
                    background-repeat: no-repeat;

                    @media all and (max-width:1000px) {
                        display:none;
                    }
                }

                p {
                    font-size:2rem;
                    letter-spacing: 0.1em;

                    @media all and (max-width:1300px) {
                        font-size:(20/1440)*100vw;
                    }

                    @media all and (max-width:1000px) {
                        font-size:1.8rem;
                    }
                }
            }

            li:last-child .flow_item:before {
                display:none;
            }

            li:nth-child(2) .flow_item:after {
                background-image:url(assets/images/recruit/recruit-flow02.svg);
            }

            li:nth-child(3) .flow_item:after {
                background-image:url(assets/images/recruit/recruit-flow03.svg);
            }

            li:nth-child(4) .flow_item:after {
                background-image:url(assets/images/recruit/recruit-flow04.svg);
            }
        }
    }

    /*仕事の内容*/
    .page_recruit_work {
        position:relative;
        background:#fff;
        width:80vw;
        margin:8vw auto 0;
        padding:4% 8%;

        @media all and (max-width:768px) {
            padding:8% 4%;
        }

        &:after {
            position:absolute;
            top:30%;
            left:0;
            transform:translatey(-50%);
            content:'';
            display:inline-block;
            width:100vw;
            margin: 0 calc(50% - 50vw);
            height:8vw;
            background:$bk-4;
            z-index:-1;
        }

        @media all and (max-width:768px) {
            width:90vw;
        }

        &_text {
            line-height:2.2;
        }
    }


    /*この仕事の良いところ*/
    .page_recruit_merit {
        position:relative;
        background:#fff;
        width:80vw;
        margin:8vw auto 0;
        padding:4% 8%;

        @media all and (max-width:768px) {
            padding:8% 4%;
        }

        &:after {
            position:absolute;
            top:50%;
            left:0;
            transform:translatey(-50%);
            content:'';
            display:inline-block;
            width:100vw;
            margin: 0 calc(50% - 50vw);
            height:20vw;
            background:$bk-1;
            z-index:-1;
        }

        @media all and (max-width:768px) {
            width:90vw;
        }

        &_list {
            li {
                margin:0.8em;
                text-indent: -3em;
                padding-left:3em;

                .num {
                    font-size:1.9rem;
                    font-weight:bold;
                    margin-right:1em;
                }
            }
        }
    }

    /*1日の流れ*/
    .page_recruit {
        &_schedul {
            padding:3% 6%;
    
            .schedule_dl {
                display:grid;
                grid-template-columns: 1fr 10fr;
                gap:1em;
                margin:1em 0;
    
                dt {
                    display:block;
                    width:4em;
                }
    
                dd {
                    margin:0;
                }
            }
        }
    
        &_question {
            background:#fff;
            padding:3% 6%;
        }
    }

    .page_recruit_schedul {
        width:80vw;
        margin:8vw auto 0;
        padding:4% 8%;
        background:#fff;

        @media all and (max-width:768px) {
            width:90vw;
            padding:8% 4%;
        }
    }

    /*よくある質問*/
    .page_recruit_question {
        width:80vw;
        margin:8vw auto 0;
        background:#fff;
        padding:4% 8%;

        @media all and (max-width:768px) {
            width:90vw; 
            padding:8% 4%;
        }

        .question {
            position:relative;
            cursor: pointer;
            padding:1.5em 2.2em 1em 4em;
            margin-bottom:0.5em;
            border-bottom: solid 2px $border-c;
            text-indent: -3em;
        
            &:before {
                content:'';
                display: inline-block;
                position:absolute;
                top:50%;
                transform:translatey(-50%);
                right:1.5em;
                width: 2px;
                height: 15px;
                background: $font-default-c;
              }
              
            &:after{
                content: '';
                display: inline-block;
                position:absolute;
                top:50%;
                transform:translatey(-50%);
                right:calc(1.5em - 6.5px);
                width: 15px;
                height: 2px;
                background: $font-default-c;
              }
        }
        
        .question.active {
            margin-bottom:0;
            border:none;
        
            &:before {
                display: none;
            }
        }
        .question:hover {
            filter:brightness(0.95);
        }
        .answer {
            display: none;
            background: #fff;
            padding:1em 1em 1em 4em;
            margin-bottom:0.5em;
            text-indent: -3em;
            border-bottom: solid 2px $border-c;
        }    
        
        .qa {
            margin-right:2em;
        }
    }

    .other_list {
        width:80vw;
        margin:8vw auto;
        display:flex;
        justify-content: center;
        gap:2em;

        @media all and (max-width:800px) {
            width:90vw;
            gap:1em;
        }

        @media all and (max-width:540px) {
            flex-direction:column;
            margin:18vw auto 8vw;
          }

        li {
            width:40%;

            @media all and (max-width:768px) {
                width:auto;
            }
        }
    }
}

/*アクセス非表示*/
.recruit .address {
    display:none;
}
