/*====================================================
　　recruitページ全体
=====================================================*/
.recruit_bk_blue {
    background:$bk-4;
}

/*====================================================
　　recruitメインビジュアル
=====================================================*/
.recruit_main_img {
    position:relative;
    width:92vw;
    margin:0 auto 7vw;
    z-index:2;

    &:after {
        position:absolute;
        top: 24%;
        left:-4vw;
        display:inline-block;
        content:'';
        background:$bk-1;
        width:100vw;
        height:(140/1440)*100vw;
        z-index:-1;
    }

    @media all and (max-width:1000px) {
        padding-top:5em;
    }

    .recruit_pic {
        position:relative;
        width:(1050/1440)*100vw;
        height:(708/1440)*100vw;
        max-height:90vh;
        margin: 0 0 0 auto;
        overflow: hidden;
    }

    .recruit_main_copy {
        position:absolute;
        bottom:-7vw;
        left:0;
        font-size:(100/1440)*100vw;
        color:#fff;
        line-height: 1.1;
        letter-spacing: 0;
        font-weight:900;
        margin:0;

        @media all and (min-width:1440px) {
            font-size:10rem;
        }
    }
}

.recruit_top_text { 
    width:80vw;
    max-width:680px;
    margin:12% auto 5%;
    padding-left:8%;

    @media all and (max-width:768px) {
        padding-left:11vw;
    }

    .item_after {
        position:relative;

        &:after {
            content:"";
            display:inline-block;
            position:absolute;
            bottom:-8vw;
            left:-26vw;
            width:(562/1440)*100vw;
            height:(340/1440)*100vw;
            background-image:url(assets/images/recruit/recruit-item01.svg);
            background-repeat: no-repeat;
            background-size: contain;

            @media all and (max-width:768px) {
                bottom:-8vw;
                left:-20vw;
                width:(462/1440)*100vw;
                height:(240/1440)*100vw;
            }
        }
    }

    p {
        color:#fff;
        margin:3em 0;
    }
}

/*====================================================
　　タブ切り替え
=====================================================*/
.pageRecruit_list {
    width: 80vw;
    margin:0 auto;

    .tab-button {
        display: flex;
        justify-content: space-between;
        gap:1em;
        cursor: pointer;
    }

    .tab-button .is-active {
        color: #FFF;
    }

    .tab {
        width: calc(100% / 3);
        text-align: center;
    }
    
    .tab-contents {
        border-top: none;
        background: #fff;
    }
    
    .pageRecruit_content {
        display: none;
        padding: 8px;
        text-align: left;
    }
    
    .pageRecruit_content.is-display {
        display: block;
    }

    .tab-01.is-active {
        background:$tab-01;
    }

    .tab-02.is-active {
        background:$tab-02;
    }

    .tab-03.is-active {
        background:$tab-03;
    }
}



/*====================================================
　　recruit 1日の流れ
=====================================================*/
.page_recruit {
    &_schedul {
        background:$content-b-c;
        padding:3% 6%;

        .schedule_dl {
            display:grid;
            grid-template-columns: 1fr 10fr;

            dt {
                display:block;
                width:4em;
            }

            dd {
                margin:0;
            }
        }
    }

    &_question {
        background:$content-b-c;
        padding:3% 6%;
    }
}


/*====================================================
　　recruit よくある質問
=====================================================*/
.question {
    position:relative;
    cursor: pointer;
    background:$h2-b-c;
    padding:1em 2.2em 1em 1.2em;
    margin-bottom:0.5em;

    &:before {
        content:'';
        display: inline-block;
        position:absolute;
        top:50%;
        transform:translatey(-50%);
        right:1.5em;
        width: 2px;
        height: 15px;
        background: $font-default-c;
      }
      
    &:after{
        content: '';
        display: inline-block;
        position:absolute;
        top:50%;
        transform:translatey(-50%);
        right:calc(1.5em - 6.5px);
        width: 15px;
        height: 2px;
        background: $font-default-c;
      }
}

.question.active {
    margin-bottom:0;

    &:before {
        display: none;
    }
}
.question:hover {
    filter:brightness(0.95);
}
.answer {
    display: none;
    background: #fff;
    padding:1em;
    margin-bottom:0.5em;
}
