/*--====================================================
   事業案内共通
=====================================================*/
.service {
    p, dl dt, dl dd {
        line-height:2.2;
    }
}

.page_precut_h2 {
    text-align:center;
}

/*--====================================================
   プレカットリスト
=====================================================*/

.precut_list {
  width:80vw;
  max-width: 1050px;
  margin: auto;

  .l-inner {
    width:100%;
    padding:0;
  }

    .swiper,
    .thumb-wrapper {
        width:100%;
    }

    .swiper {
        overflow: visible;
    }

    .swiper-fade .swiper-slide {
        -webkit-transition-property: opacity, -webkit-transform !important;
        transition-property: opacity, -webkit-transform !important;
        transition-property: opacity, transform !important;
        transition-property: opacity, transform, -webkit-transform !important;
        pointer-events: none;
    }

    .swiper-fade .swiper-slide-active {
        pointer-events: auto;
    }

    .swiper-controller {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 62.5%;
    }

    .slide {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }

    .slide-media {
        display: block;
        padding-top: 62.5%;
        border-radius: 4px;
        width:100%;

        img {
            object-fit: contain;
        }
    }

    .slide-title {
      font-weight: bold;
      line-height: 1.6;
      padding: 3.2rem 0;
    }

    .thumb-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3em;

        @media only screen and (max-width: 599px) {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    .thumb-media {
      padding-top: 100%;
      cursor: pointer;
      -webkit-transition: var(--transition);
      transition: var(--transition);
      height:15vw;
      margin-bottom:10em;
      overflow: inherit;
    }

    @media only screen and (min-width: 1025px) {
        .thumb-media:hover {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
        }
        .thumb-media:hover img {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        }
    }

    .thumb-media img {
      -webkit-transition: var(--transition);
      transition: var(--transition);
    }
    .thumb-media-active {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      opacity: 0.3;
    }
    .thumb-media-active img {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
}

/*--====================================================
    その他の事業内容
=====================================================*/

.page_other-precut {
    margin:0 auto;

    &_inner {
        max-width:1050px;
        margin:0 auto 6%;

        dt {
            text-align:center;
            font-size:2rem;
            margin-bottom:8%;
        }

        dd {
            margin:0;
        }
    }
}

.other-precut_box {
    position:relative;
    background:$bk-2;
    padding:10% 0;

    &:after {
        position:absolute;
        top:0;
        left:70%;
        transform:translatex(-50%);
        display:inline-block;
        content:'';
        background:$bk-1;
        width:15vw;
        height:100%;
    }
}

.other-precut_list {
    position:relative;
    display:flex;
    flex-direction: column;
    gap:5em;
    max-width:1050px;
    margin:0 auto;
    z-index:2;

    li {
        display:flex;

        &:nth-child(2n) {
            flex-direction: row-reverse;
        }
    }   

    &_dl {
        width:50%;
        background:#fff;
        padding:8% 8%;
        margin:0;

        dt {
            margin-bottom:14%;
            text-align:center;
            font-size:2rem;
        }

        dd {
            margin:0;
        }
    }

    &_img {
        width:50%;

        img {
            object-fit: contain;
        }

    }
}

/*アクセス非表示*/
.service .address {
    display:none;
}



