/*--====================================================
   事業案内共通
=====================================================*/
.service {
    p, dl dt, dl dd {
        line-height:2.2;
    }

    /*トップ画像*/
    .page_title-pic {

        @media all and (min-width:1000px) {
            height:(460/1440)*100vw;

            img {
                height:100%;
            }
        }

        @media all and (max-width:768px) {
            height:40vh;
        }
    }
}

.page_precut_h2 {
    text-align:center;
}

.service_main .page_content {
    width:100%;
    max-width: none;
    margin:0;
}

.service .p_br {
    display:none;
    
    @media all and (max-width:540px) {
        display:block;
    }
}

/*--====================================================
   プレカット
=====================================================*/
.page_precut {
    width:80vw;
    max-width: 1050px;
    margin:5% auto; 

    @media all and (max-width:768px) {
        margin:10% auto;
    }
 }

/*--====================================================
   プレカットリスト
=====================================================*/
.precut_list {
    position:relative;
    margin-bottom:15%;

    @media all and (max-width:768px) {
        margin-bottom:20%;
    }

  .l-inner {
    width:100%;
    max-width:inherit;
    padding:0;
    background-image: url(assets/images/service/page-service-item-02.svg);
    background-repeat: repeat-x;
    background-position:bottom 20% left 0;
  }

    .swiper,
    .thumb-wrapper {
        width:100%;
    }

    .swiper {
        overflow: visible;
        width:80vw;
        max-width: 1050px;
        margin: auto;

        @media all and (max-width:768px) {
            width:90vw;
        }
    }

    .swiper-wrapper {
        position:relative;

        &:after {
            position:absolute;
            top:-1em;
            left:0;
            content:'';
            display:inline-block;
            width:65%;
            height:2px;
            background:$border-c;
        }
    }

    .swiper-fade .swiper-slide {
        -webkit-transition-property: opacity, -webkit-transform !important;
        transition-property: opacity, -webkit-transform !important;
        transition-property: opacity, transform !important;
        transition-property: opacity, transform, -webkit-transform !important;
        pointer-events: none;
    }

    .swiper-controller {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 62.5%;
    }

    .slide {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*overflow: hidden;*/

        @media all and (max-width:768px) {
            grid-template-columns: 1fr;
        }
    }

    .slide-media {
        display: block;
        width:100%;
        height:auto;

        @media all and (max-width:768px) {
            padding-top: 62.5%;
        }

        img {
            object-fit: cover;
        }
    }

    .slide-title {
      position:relative;
      padding: 26% 18%;
      background:#fff;
      margin:0;

      @media all and (max-width:768px) {
        padding: 18% 8%;
      }

      &:after {
        position:absolute;
        bottom:-1em;
        right:0;
        content:'';
        width:70%;
        height:2px;
        display:inline-block;
        background:$border-c;
    }

      .c-tit {
        font-size:2rem;
        margin-bottom:26%;
        text-align:center;
        -webkit-text-size-adjust: 100%; 

        @media all and (max-width:768px) {
            margin-bottom:10%;
          }
      }

      .c-text {
        margin:0;
        line-height: 2.4;
        -webkit-text-size-adjust: 100%; 

        p {
            font-size:1.5rem!important;
        }
      }
    }

    .thumb-media.swiper-slide-active {
        pointer-events: auto;
    }

    .thumb-wrapper {
        position:relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3em;
        width:80vw;
        max-width: 1050px;
        margin: auto;
        margin-bottom:8em;

        &:before {
            position:absolute;
            top:35%;
            left:-5vw;
            transform:translatey(-50%);
            content:'';
            display:inline-block;
            background:$item-c;
            width:1.5px;
            height:150%;
        }

        &:after {
            position:absolute;
            top:35%;
            right:-5vw;
            transform:translatey(-50%);
            content:'';
            display:inline-block;
            background:$item-c;
            width:1.5px;
            height:150%;
        }

        @media all and (max-width:768px) {
            width:90vw;
            gap:1.5em;
        }

        @media all and (max-width:540px) {
            margin-bottom:3.5em;
        }

        @media all and (max-width:375px) {
            gap:0.6em;
        }
    }

    .thumb-media {
        position:relative;
        cursor: pointer;
        -webkit-transition: var(--transition);
        transition: var(--transition);
        width:100%;
        height:auto;
        overflow:inherit;

        &_img {
            position:relative;
            margin-bottom:2em;

            @media all and (max-width:540px) {
                margin-bottom:1em;
            }
        }

      img {
        position:relative;
      }

      .precut_tit {
        position:relative;
        display:inline-block;
        left:50%;
        transform: translatex(-50%);
        padding:0.5em 0.5em;

        @media all and (max-width:540px) {
            font-size:12px;
            text-align: center;
            line-height:1.6;
        }
      }
    }


    .thumb-media-active {
        .thumb-media_img {
            position:relative;

            &:after {
                content: "";
                display: inline-block;
                position: absolute;
                top: -8%;
                left: -8%;
                width: 116%;
                height: 116%;
                background-image: url(assets/images/service/page-service-item-01.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .precut_tit {
            position:relative;

            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                bottom: -0.5em;
                left: 0;
                width: 100%;
                height: 2px;
                background: $border-c;

                @media all and (max-width:540px) {
                   display:none;
                }
            }

            &:after {
                content: "";
                display: inline-block;
                position: absolute;
                bottom: -5.8em;
                left: 50%;
                transform: translatex(-50%);
                width: 2px;
                height: 3.2em;
                background: $border-c;

                @media all and (max-width:540px) {
                    width: 1.5px;
                    bottom: -2.4em;
                    height: 2em;
                }
            }
        }
    }
}
/*--====================================================
    その他の事業内容
=====================================================*/

.page_other-precut {
    margin:0 auto;

    &_inner {
        width:80vw;
        max-width:1050px;
        margin:0 auto 6%;

        @media all and (max-width:768px) {
            margin:0 auto 15%;
        }

        dt {
            text-align:center;
            font-size:2.6rem;
            font-weight:600;
            margin-bottom:4%;

            @media all and (max-width:768px) {
                font-size:2rem;
                margin-bottom:8%;
                line-height:1.8!important;
            }
        }

        dd {
            margin:0;
        }
    }
}

.other-precut_box {
    position:relative;
    background:$bk-2;
    padding:10% 0;

    @media all and (max-width:768px) {
        padding:15% 0;
    }

    &:after {
        position:absolute;
        top:0;
        left:70%;
        transform:translatex(-50%);
        display:inline-block;
        content:'';
        background:$bk-1;
        width:15vw;
        height:100%;
    }
}

.other-precut_list {
    position:relative;
    display:flex;
    flex-direction: column;
    gap:5em;
    width:80vw;
    max-width:1050px;
    margin:0 auto;
    z-index:2;

    @media all and (max-width:768px) {
        width:90vw;
        gap:3em;
    }

    li {
        display:flex;

        @media all and (max-width:540px) {
            flex-direction: column-reverse;
        }

        &:nth-child(2n) {
            flex-direction: row-reverse;

            @media all and (max-width:540px) {
                flex-direction: column-reverse;
            }
        }
    }   

    &_dl {
        position:relative;
        width:50%;
        background:#fff;
        padding:8% 8%;
        margin:0;

        &:before{
            position:absolute;
            top:-0.5em;
            right:0;
            content:'';
            width:40%;
            height:2px;
            display:inline-block;
            background:$border-c;

            @media all and (max-width:540px) {
                display:none;
            }
        }

        &:after {
            position:absolute;
            bottom:-0.5em;
            left:0;
            content:'';
            width:40%;
            height:2px;
            display:inline-block;
            background:$border-c;
        }

        @media all and (max-width:540px) {
            width:100%;
            padding:12% 8%;
        }

        dt {
            margin-bottom:14%;
            text-align:center;
            font-size:2rem;
            font-weight:600;

            @media all and (max-width:768px) {
                margin-bottom:8%;
            }

        }

        dd {
            margin:0;
        }
    }

    &_img {
        position:relative;
        width:50%;

        &:before {
            @media all and (max-width:540px) {
                position:absolute;
                top:-0.5em;
                right:0;
                content:'';
                width:40%;
                height:2px;
                display:inline-block;
                background:$border-c;
            }
        }

        @media all and (max-width:540px) {
            width:100%;
            height:60vw;
        }

        img {
            object-fit: cover;
            height:100%;
        }

    }
}

/*アクセス非表示*/
.service .address {
    display:none;
}



