/* news 共通 */
.single_main .page_content {
    width:100%;
    max-width: none;
    margin:0;
}

.single-news_main {
    padding-top:10em;
}

.single-news {
    &_list {
        border-bottom: solid 2px $border-c;
        padding:1em 0;
        margin-top:15%;
    }

    &_title {
        font-size:2rem;

        @media all and (max-width:540px) {
            font-size:1.8rem;
            margin-bottom:1em;
        }
    }

    &_time {
        text-align:end;
    }

    .single-news-content {
        padding:0;
        margin:0 auto 5%;

        .free-area img {
            padding:0.5em;
        }
    }
}

/*アクセス非表示*/
.category-news .address {
    display:none;
}

