/*single 共通*/
.single-case .single_content {
    margin:5% auto 30%;
}

.single_main .page_content {
    width:100%;
    max-width: none;
    margin:0;
}

.single-case_main {
    padding-top:10em;

    .single_container {
        max-width:900px;
        margin:0 auto;

        @media all and (max-width:1000px) {
            padding-bottom:8%;
        }
    }

    .single_content {
        margin:0 auto;
    }

    /*戻るボタン*/
    .case-button {
        margin:calc(5vw + 8%) auto 0;

        a {
            padding:0.8em 3.5em;
        }
    }

    /*お問い合わせ*/
    .contact-box {
        margin-top:15%;
    }
}

/*カテゴリータイトル*/
.single_case_title {
    position:relative;
    margin:0;
    padding:0 0 8% 0;

    &:after {
        content:'';
        display:inline-block;
        position:absolute;
        bottom:0;
        left:50%;
        transform:translateX(-50%);
        background:$border-c;
        width:60%;
        height:1px;
    }

     p {
        font-size:2.4rem;
     }
}

/*タイトル*/
.single_case_h2 {
    background:none!important;
    border:none!important;
    font-size:2rem!important;
    font-weight:600!important;
    text-align:center;
    color:$font-default-c!important;
    letter-spacing: 0.2em!important;
    margin:0 auto 2em!important;

    @media all and (max-width:768px) {
        font-size:1.6rem!important;
    }
}

/*画像*/
.single_case_image {
    width:100vw;
    margin: 0 calc(50% - 50vw) 6%;
    position:relative;
    padding:6% 0 10%;
    background-image:url(assets/images/news/case-item-bk.svg);
    background-position:top 18vw left 0;
    background-repeat: repeat-x;
}

.single_case_gallery {
    width:80vw;
    max-width:900px;
    display:flex;
    flex-direction: column;
    gap:3em;
    margin:0 auto;

    @media all and (max-width:768px) {
        width:90vw;
        gap:1.5em;
    }
}

/*テキスト*/
.single_case_text {
    position:relative;
    display:block;
    line-height:2;
    letter-spacing: 0.2em;
    max-width:600px;
    margin:0 auto!important;

    &:after {
        position:absolute;
        left:50%;
        bottom:-8vw;
        transform:translatex(-50%);
        content:'';
        display:inline-block;
        width:80%;
        height:1.5px;
        background:$item-c;
    }
}


/*アクセス非表示*/
.single-post .address {
    display:none;
}

