/*トップ画像・タイトル*/
.page_title-pic {
    position:relative;

    @media all and (min-width:1000px) {
        height:70vh;

        img {
            height:100%;
        }
    }

    @media all and (max-width:768px) {
        height:50vh;

        img {
            height:100%;
        }
    }
}

.page_workflow_h1 {
    display:inline-block;
    position:absolute;
    top:50%;
    left:45%;
    transform: translate(-50%, -50%);
    color:#fff;
    letter-spacing: 0.2em;
    text-align:center;

    @media all and (max-width:768px) {
        font-size:2.4rem;
    }
}


.page_flow {
    /*ご注文の流れ見出し*/
    .page_workflow_h2 {
        display:inline-block;
        position:relative;
        left:50%;
        transform: translatex(-50%);
        margin-bottom:8%;

        @media all and (max-width:768px) {
            margin-bottom:12%;
            font-size:2rem;
        }

        @media all and (max-width:768px) {
            margin-bottom:18%;
            font-size:2rem;
        }

        &:before {
            content:'';
            display:inline-block;
            position:absolute;
            top:50%;
            left:-130%;
            transform:translatey(-50%);
            background:$border-c;
            width:120%;
            height:1px;

            @media all and (max-width:768px) {
                width:60%;
                left:-70%;
            }
        }

        &:after {
            content:'';
            display:inline-block;
            position:absolute;
            top:50%;
            right:-130%;
            transform:translatey(-50%);
            background:$border-c;
            width:120%;
            height:1px;

            @media all and (max-width:768px) {
                width:60%;
                right:-70%;
            }
        }

        p {
            text-align:center;
            font-weight:400;
        }
    }


    /*各項目の見出し*/
    .page_flow_tit {
        position:relative;
        display:flex;
        align-items:baseline;
        font-size:2rem;
        font-weight:400;
        color:$h2-c;
        margin:0 0 4em;

        @media all and (max-width:768px) {
            font-size:1.8rem;
            margin:0 0 2em;
        }

        &:after {
            content:'';
            display:inline-block;
            position:absolute;
            bottom:-10%;
            right:0;
            width:100%;
            height:48%;
            background:$bk-2;
            z-index:-1;
        }

        &_num {
            position:relative;
            display:inline-block;
            font-size:3.6rem;
            font-weight: 800;
            color:$font-default-c;
            padding-right:0.3em;

            @media all and (max-width:768px) {
                font-size:2.4rem;
            }

            &:after {
                content:'';
                display:inline-block;
                position:absolute;
                top:-10%;
                left:-50%;
                width:124%;
                height:108%;
                background:$workflow-num-bk;
                z-index:-1;
            }
        
        }
    }

    &_list {
        @media all and (max-width:540px) {
            position:relative;
            display:flex;
            flex-direction: column;
            padding-left:4em;
            gap:6em;

            /*スマホ時の線*/
            &:after {
                display:inline-block;
                content:'';
                position:absolute;
                top:50%;
                transform: translatey(-50%);
                left:0;
                width:0.2em;
                height:100%;
                background:$font-default-c;
            }
        }


        &_item {
            position:relative;
            display:grid;
            grid-template-columns: 1fr 1fr;
            place-content: start space-evenly;
            gap:16em;
            padding-bottom:6em;

            @media all and (max-width:1100px) {
                gap:10em;
            }

            @media all and (max-width:768px) {
                gap:6em;
            }

            @media all and (max-width:540px) {
                padding-bottom:0;
            }

            /*PCのみグレー背景*/
            &:before {
                content:'';
                display:inline-block;
                position:absolute;
                bottom:3em;
                right:-3%;
                background:$workflow-ct-bk;
                width:84%;
                height:8em;
                z-index:-1;
            }

            /*PC時の線*/
            &:after {
                display:inline-block;
                content:'';
                position:absolute;
                top:0;
                left:50%;
                transform: translatex(-50%);
                width:0.2em;
                height:100%;
                background:$font-default-c;

                @media all and (max-width:1100px) {
                    right:-5em;
                }

                @media all and (max-width:768px) {
                    right:-3em;
                    width:0.15em;
                }

                @media all and (max-width:540px) {
                    display:none;
                }
            }

            @media all and (max-width:540px) {
                position:relative;
                grid-template-columns: 1fr;
                gap:0em;


                /*スマホ時点線*/
                &:before {
                    border-top: 3px dotted $font-default-c;
                    content: "";
                    position: absolute;
                    top:74%;
                    transform: translatey(-50%);
                    left:-4em;
                    width:4em;
                    height:3px;
                }
    
                /*スマホ時丸*/
                &:after {
                    display:inline-block;
                    content:'';
                    position:absolute;
                    top:74%;
                    transform: translatey(-50%);
                    left:-4.5em;
                    width:1.2em;
                    height:1.2em;
                    background:#fff;
                    border:solid 3px $font-default-c;
                    border-radius: 3em;
                    z-index:2;
                }
            }

            .page_flow_content {
                @media all and (max-width:540px) {
                    margin-bottom:2em;
                }
            }

            .page_flow_pic {
                position:relative;

                &_box {
                    position:relative;
                    top:50%;
                    left:0;
                    transform:translatey(-50%);
                    object-fit: cover;
                    width:(425/1440)*100vw;
                    max-width:425px;
                    min-width:100%;
                    height:auto;
                    overflow: hidden;
                }

                /*PC時点線*/
                &:before {
                    border-top: 3px dotted $font-default-c;
                    content: "";
                    position: absolute;
                    top:50%;
                    transform: translatey(-50%);
                    left:-8em;
                    width:8em;
                    height:3px;

                    @media all and (max-width:1100px) {
                        left:-5em;
                        width:5em;
                    }

                    @media all and (max-width:768px) {
                        left:-3em;
                        width:3em;
                    }

                    @media all and (max-width:540px) {
                        display:none;
                    }
                }

                /*PC時丸*/
                &:after {
                    display:inline-block;
                    content:'';
                    position:absolute;
                    top:50%;
                    transform: translatey(-50%);
                    left:-8.8em;
                    width:1.6em;
                    height:1.6em;
                    border:solid 3px $font-default-c;
                    background:#fff;
                    border-radius: 3em;
                    z-index:2;

                    @media all and (max-width:1100px) {
                        left:-5.8em;
                    }

                    @media all and (max-width:768px) {
                        left:-3.6em;
                        width:1.2em;
                        height:1.2em;
                    }

                    @media all and (max-width:540px) {
                        display:none;
                    }
                }
            }
        }
    }
}

.page_flow_other {
    max-width:800px;
    margin:0 auto;

    @media all and (max-width:768px) {
        margin:0 auto 20%;
    }

    &_h2 {
        width:80%;
        position:relative;
        font-size:2rem;
        font-weight:400;
        color:$h2-c;
        margin:0 auto 4em;
        text-align:center;

        @media all and (max-width:768px) {
            font-size:1.8rem;
        }

        &:before {
            content:'';
            display:inline-block;
            position:absolute;
            top:-60%;
            left:-5%;
            width:14%;
            height:190%;
            background:$workflow-num-bk;
            z-index:-1;
        }

        &:after {
            content:'';
            display:inline-block;
            position:absolute;
            bottom:-60%;
            right:0;
            width:100%;
            height:1.8em;
            background:$bk-2;
            z-index:-1;
        }
    }

    &_text {
        text-align:center;
        margin-bottom:3em;
    }

    &_h3 {
        text-align:center;
    }
}

/*アクセス非表示*/
.workflow .address {
    display:none;
}