/*---------------------------------------------------------------
　トップページ
---------------------------------------------------------------*/
.js-img {
    scale:0.6;
    opacity:0;
}


/*---------------------------------------------------------------
　コンテンツをフェードインで表示
---------------------------------------------------------------*/
.fadein{
    opacity: 0;
}




