/*section ボタン*/
@mixin btn_icon {
  position:absolute;
  content:'';
  background-image:url(assets/images/common/b-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transition:all .2s;
}


.top-button {
  text-align: center;

  a {
    display:inline-block;
    position:relative;
    padding:1em 2em 1em 2em;
    border-radius: 0.6em;
    background:$btn;
    color:#fff!important;
    transition:all .2s;

    &:hover {
      filter:brightness(0.8);
      transform:translatey(-8px);
    }
  }
}

/*エントリーボタン*/
.entry-button {
  text-align: center;

  a {
    display:inline-block;
    position:relative;
    padding:0.8em 2em 0.8em 2em;
    border-radius: 0.6em;
    background:$btn;
    color:#fff!important;
    transition:all .2s;
    font-size:2.4rem;

    @media all and (max-width:768px) {
      font-size:2rem;
    }

    @media all and (max-width:540px) {
      font-size:1.8rem;
    }

    &:hover {
      filter:brightness(0.8);
      transform:translatey(-8px);
    }
  }
}

/*採用ページボタン*/
.other_list_btn {
  a {
      display:block;
      background:#fff;
      padding:1em 1em;
      text-align:center;
      font-size:2rem;
      transition: all .3s;

      @media all and (max-width:768px) {
        font-size:(24/768)*100vw;
      }

      &:hover {
        filter:brightness(0.9);
        transform:translatey(-8px);
      }
  }
}


  /*recruitページボタン*/
  .page_recruit_btn {
    text-align: center;

    a {
      display:inline-block;
        position:relative;
        padding:1em 3.5em 1em 2em;
        background:#333;
        color:#fff;
        border-radius: 2em;
        transition:all .2s;

        &:after {
          display:inline-block;
          content:'';
          position:absolute;
          top:50%;
          right:2em;
          transform: translatey(-50%);
          width:16px;
          height: 13px;
          background-image:url(assets/images/common/arrow-icon-w.svg);
          background-repeat: no-repeat;
          background-size: contain;       
        }

        &:hover {
          filter:brightness(0.8);
          transform:translatey(-8px);
        }
    }
}


/*お問い合わせフォームリンクボタン*/
.mail-form {
  text-align: center;
  a {
    position:relative;
    display:inline-block;
    transition:all .3s;
    background:#333;
    color:#fff;
    font-size:1.5rem;
    padding:1.6rem 6rem 1.6rem 6rem;
    border-radius: 3em;

    &:before {
      display:block;
      content:'';
      position:absolute;
      top:50%;
      left:2rem;
      transform:translatey(-50%);
      width:30px;
      height:30px;
      background-image:url(assets/images/common/mail-icon.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &:after {
      display:block;
      content:'';
      position:absolute;
      top:50%;
      right:2rem;
      transform:translatey(-50%);
      width:18px;
      height:16px;
      background-image:url(assets/images/common/arrow-icon-w.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &:hover {
      filter:brightness(0.8);
      transform:translatey(-8px);
    }
  }
}