/*グロナビここから*/
.menu-global-container {
    transition: transform .6s ease-out;

    @media all and (max-width:900px) {
        display: none;
        margin-left:0;
    }

    ul {
        display:flex;
        gap:2.5em;
        color:$font-default-title-c;
        margin:0;

        @media all and (max-width:1280px) {
            gap:1.8em;
        }
    }

    li {
        list-style-type: none;

        &:first-child {
            margin-left: 0;
        }

        a {
            position: relative;
            font-size:1.4rem;
            font-family: $font-1;
            font-weight:bold;
            letter-spacing: 0.1em;
            white-space: nowrap;
            text-decoration: none;

            @media all and (max-width:1280px) {
                font-size:1.4rem;
            }

            @media all and (min-width:901px) {
                &:before {
                    background: $font-default-c;
                    content: '';
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: -50%;
                    margin: auto;
                    transform-origin: right top;
                    transform: scale(0, 1);
                    transition: transform .3s ease-out;
                }

                &:hover::before {
                    transform-origin: left top;
                    transform: scale(1, 1);
                }
            }
        }
    }
}

/*グロナビオープン時*/
.l-site_header.active {
    margin: 0;
    padding: 0;

.menu-global-container {
    display:block;
}

    .logo {
        display: none;
    }

    .global-nav__menu {
        display: block;
        position: fixed;
        top:0;
        width: 100%;
        height: 100vh;
        background: $bk-4;
        padding: 20% 10%;
        margin: 0;
        z-index: 3;
        overflow: auto;

        li {
            text-align: left;
            margin-left: 0;
            padding: 0.6em 0;


            a {
                display:block;
                position: relative;
                color: #fff;
                font-size: 1.8rem;
                padding: 1.5em 0;
                border-bottom:solid 1px #fff;

                &:after {
                    content:'';
                    display:inline-block;
                    position:absolute;
                    top:50%;
                    transform: translate(-50%);
                    right:0;
                    width:15px;
                    height:13px;
                    background-image:url(assets/images/common/arrow-icon-w.svg);
                    background-size: cover;
                }
            }
        }
    }
}

/*グロナビここまで*/

/*ハンバーガーボタンここから*/
.hamburger_button {
    display: none;
    position: fixed;
    right: 1.6em;
    top: 1em;
    /*background: $green-c;*/
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    z-index: 4;

    @media all and (max-width:900px) {
        display: block;
    }


    &_item {
        display: inline-block;
        transition: transform .4s ease-out;
        /*アニメーションの設定*/
        position: absolute;
        right: 0px;
        height: 2px;
        border-radius: 5px;
        background: $font-default-c;
        width: 86%;

        &:nth-of-type(1) {
            top: 13px;
        }

        &:nth-of-type(2) {
            top: 22px;
        }
    }
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
.active .hamburger_button_item {
    background: #fff;
}

.hamburger_button.active {
    span:nth-of-type(1) {
        top: 12px;
        right: 0;
        transform: translateY(6px) rotate(-45deg);
        width: 86%;
    }

    span:nth-of-type(2) {
        top: 24px;
        right: 0;
        transform: translateY(-6px) rotate(45deg);
        width: 86%;
    }
}

/*ハンバーガーボタンここここまで*/


/*トップページのみ*/
/*.home {*/
    .l-site_header {
        position:fixed;
        padding:0 2rem;
    }
    .menu-global-container {
        ul {
            li {
                a {
                    @media all and (min-width:901px) {
                        color:#fff;
                        text-shadow: 2px 2px 8px $text-shadow;

                        &:before {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }

    .hamburger_button {
        &_item {
            background:#fff;
        }
    }

    /*スクロールしたらグロナビのスタイル変える*/
    @media all and (min-width:901px) {
        .l-site_header:has(+ .main.classActive) {
            background:#fff;

            ul {
                li {
                    a {
                        color:$font-default-title-c;
                        text-shadow: none;
                    }
                }
            }
        }
    }

    @media all and (max-width:900px) {
        .l-site_header:has(+ .main.classActive) {
            background:none;

            &:after {
                display:none;
            }

            .hamburger_button_item {
                background: $font-default-c;
            }

            .active .hamburger_button_item {
                background: #fff;
            }
        }       
    }
/*}*/
