/******************* New *******************/

/*common*/
$font-default-c:#736a5f;
$item-c:#bfb9b1;
$bk-color:#fff;
$link-btn-c:#768d96;
$body-bk-color:#F9FDFD;

/*nav*/
$sub-nav-bk:rgba(95, 131, 173, 0.8);
$nav-border-c:#384B52;

/*メインビジュアル*/
$movie-bk:rgba(255, 255, 255, 0.6);

/*top*/
$bk-1:#fcf3e4;
$bk-2:#e2f1f2;
$bk-3:#98c0cc;
$h2-c:#736a5f;
$bk-4:#98C0CC;
$border-c:#BFB9B1;
$border-c2:#ebeded;
$main-bottom:rgba(62, 98, 114, 0.7);

/*header*/
$header-bk:#7a949f;

/*ナビ*/
$header-current-nav01:rgba(99, 130, 142, 0.8);
$header-current-nav02:rgba(110, 188, 201, 0.8);

/*ボタン*/
$btn:#768d96;

/*footer*/
$footer-bk:#7c9aa4;

/*company*/
$company-h2-bk:#6786A8;
$message-h2-bk:rgba(111, 121, 131, 0.8);
$company-h2-bk_pt01:#98C0CC;
$company-h2-bk_pt01_02:rgba(152, 192, 204, 0.8);
$company-h2-bk_pt02:rgba(44, 79, 90, 0.7);
$company-h2-bk_pt01-2:#FCF3E4;
$company-h2-bk_pt02-2:#B7CDD7;
$company-overview-bk1:#E2F1F2;
$company-overview-bk2:#98C0CC;
$overview-h2-bk:#6988A8;

/*recruit*/
$tab-01:#379F77;
$tab-02:#E67744;
$tab-03:#5279F4;

/*workflow*/
$workflow-num-bk:#B4D1DA;
$workflow-ct-bk:#EFF2F2;

/*effort*/
$blue-text:#46B1E1;

/*contact*/
$input-bk:#EAF3FD;

/*single*/
$table-th:#f5f5f5;


/******************* old *******************/



