/*font*/
/*$font-default:"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;*/
$font-1:'Lato', sans-serif;
$font-default: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;

@mixin h2 {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}