@use "sass:math";

*,
*::before,
*::after {
    box-sizing: border-box;
}

@mixin sp {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin pc {
    @media (min-width: 769px) {
        @content;
    }
}

@function vw($px, $base: 1440) {
  @return math.div($px, $base) * 100vw;
}

/* フォント設定 */
@mixin font-size-default($sp, $pc) {
  font-size: $sp;

  @media (min-width: 769px) {
    font-size: $pc;
  }
}

$font-default: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
$font-1: 'Lato', sans-serif;
$font-2: "Noto Sans JP", sans-serif;

/*フォントサイズ*/
$font-copy-en: max(64px, vw(88));
$font-copy-ja: max(20px, vw(24));

$font-tit-120: clamp(64px, vw(120), 120px);
$font-tit-62: clamp(48px, vw(62), 62px);
$font-tit-56: clamp(34px, vw(56), 56px);
$font-tit-32: clamp(32px, vw(32), 32px);
$font-tit-24: clamp(18px, vw(24), 24px);
$font-tit-20: clamp(16px, vw(20), 20px);
$font-tit-18: clamp(14px, vw(18), 18px);
$font-tit-80--sp : min(80px, (80 / 375 * 100vw));

@mixin font-tit-40 {
    font-size:clamp(28px, vw(40), 40px);

    @include sp {
        font-size:clamp(22px, vw(28, 375), 28px);
    }
}

@mixin font-txt-18 {
    font-size:18px;

    @include sp {
        font-size:clamp(13px, vw(14, 375), 14px);
    }
}

@mixin font-txt-16 {
    font-size:16px;

    @include sp {
        font-size:clamp(13px, vw(15, 375), 16px);
    }
}

@mixin font-txt-15 {
    font-size:15px;

    @include sp {
        font-size:clamp(13px, vw(14, 375), 15px);
    }
}

$font-txt-24: 24px;
$font-txt-20: 20px;
$font-txt-18: 18px;
$font-txt-16: 16px;
$font-txt-15: 15px;
$font-txt-14: 14px;
$font-txt-13: 13px;
$font-txt-10: 10px;

/*字間*/
$letter-space-en:0.1em;

/* フォント太さ  */
$font-bold:bold;
$font-500:500;
$font-400:400;
$font-300:300;

/* 余白 */
$space-xs: 8px;
$space-s: 16px;
$space-sm: 18px;
$space-xm: 20px;
$space-m: 24px;
$space-ms: 28px;
$space-l: 32px;
$space-ls: 36px;
$space-xls: 40px;
$space-xl: 48px;
$space-xxlm: 56px;
$space-xxls: 60px;
$space-xxl: 64px;

$space-sec-80: 80px;
$space-sec-100:100px;
$space-sec-120:120px;
$space-sec-160:160px;

$space-sec-80--sp: vw(80, 375);

$space-xs--sp: vw(8, 375);
$space-xss--sp: vw(10, 375);
$space-s--sp: vw(16, 375);
$space-xm--sp: vw(20, 375);
$space-m--sp: vw(24, 375);
$space-l--sp: vw(32, 375);
$space-ls--sp: vw(36, 375);
$space-xls--sp: vw(40, 375);
$space-xl--sp: vw(48, 375);
$space-xxl--sp: vw(64, 375);

/* コンテンツ幅 */
@mixin container-1280 {
    max-width: 1280px;
    width:90vw;
    margin:auto auto;
}

@mixin container-1200 {
    max-width: 1200px;
    width:90vw;
    margin:auto auto;
}

@mixin container-1050 {
    max-width: 1050px;
    width:90vw;
    margin:auto auto;
}

@mixin container-800 {
    max-width: 800px;
    width:100%;
    margin:auto auto;
}

@mixin container-700 {
    max-width: 700px;
    width:80vw;
    margin:auto auto;
}

/* gap */
$gap-120: 120px;
$gap-72: 72px;
$gap-64: 64px;
$gap-48: 48px;
$gap-40: 40px;
$gap-36: 36px;
$gap-32: 32px;
$gap-24: 24px;
$gap-20: 20px;
$gap-18: 18px;
$gap-10: 10px;

$gap-24--sp: vw(24, 375);
$gap-20--sp: vw(20, 375);

/*カラー設定*/
$txt-tit-pt01:#3D6382;
$num-01:#4CAAC7;
$txt-tit-pt02:#C6A478;
$txt-tit-pt03:#ffffff;
$txt-th-pt03:#6B6B6B;
$txt-default-pt01:#2E2E2E;
$bk-pt01:#DCD5C8;
$bk-pt02:#F1EEE7;
$bk-pt03:#ffffff;
$bk-pt04:#FCF8F1;
$bk-contact:#3D6C82;
$border-pt01:#E1EAEE;
$border-pt02:#D8D8D8;

body {
    p, a, li, dl dt, dl dd {
        color:$txt-default-pt01;
    }
}

/*レイアウト*/
.u-align-c {
    text-align:center;
}

.u-align-c--sp {
    @include sp {
        text-align:center;
    }
}

.u-align-l--sp {
    @include sp {
        text-align:left;
    }
}

.u-none--pc {
    display:none;

    @include sp {
        display:block;
    }
}

.u-none--sp {
    display:block;

    @include sp {
        display:none;
    }
}

.trailerhouse_main {
    h2, h3, h4, p, span, li, dt, dd {
        font-family: $font-2;
        line-height:1.5;
        letter-spacing: 0.05em;
    }

    h2, h3, h4 {
        margin:0;
    }

    /* メインビジュアル */
    .trailerhouse_main_img {
        position:relative;

        .trailerhouse_pic {
            width:100%;
            height: min(100vh, vw(800));
            overflow: hidden;

            @include sp {
                height: vw(661, 375);
                max-height: 100vh;
            }

            img {
                display:block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .catchcopy {
            display:flex;
            flex-direction: column;
            align-items: center;
            position:absolute;
            top:calc(50% + 1em);
            left:50%;
            transform: translate(-50% , -50%);
            color:$txt-tit-pt03;
            text-align:center;
            line-height: 1.4;
            white-space: nowrap;
            margin:0;

            @include sp {
                top:50%;
            }

            .en {
                font-size: $font-copy-en;
                font-family: $font-1;
                letter-spacing: $letter-space-en;

                @include sp {
                    line-height:1;
                    margin-bottom:0.3em;
                }
            }

            .ja {
                font-size: $font-copy-ja;
            }
        }
    }

    /* トレーラーハウスとは */
    .about {
       background-image:url( '../images/about_bk.webp');
       background-size:cover;
       background-repeat: no-repeat;
       background-position: center;
       width:100%;
       height:auto;
       padding:$space-sec-160 0;

       @include sp {
            padding:$space-sec-80--sp 0;
       }

       &_inner {
            @include container-700;
       }

        &_tit {
            display:flex;
            flex-direction: column;
            align-items: center;
            color:$txt-tit-pt03;
            margin:0 0 $space-xl;

            @include sp {
                margin-bottom:$space-xls;
            }

            .en {
                font-size:$font-tit-18;
                font-family: $font-1;
                letter-spacing:$letter-space-en;
                font-weight: $font-400;
                margin-bottom:$space-xs;

                @include sp {
                    margin-bottom:$space-s;
                }
            }
            .ja {
                @include font-tit-40;
                font-weight: $font-500;
            }
        }

        .txtArea {
            .u-txt {
                @include font-txt-16;
                color:$txt-tit-pt03;
                line-height:2;
                font-weight: $font-300;

                @include sp {
                    font-size:$font-txt-16;
                }
            }
        }
    }

    /* Features */
    .features {
        margin:$space-sec-120 auto $space-xxl;

        @include sp {
            margin:$space-sec-80 auto $space-xxl;
        }

        &_inner {
            @include container-1280;

            @include sp {
                width:80vw;
            }
        }

        &_tit {
            @include font-txt-18;
            color:$txt-tit-pt01;
            margin-bottom:$space-ls;
            font-family: $font-1;
            letter-spacing:$letter-space-en;

            @include sp {
                margin-bottom:$space-xxls;
            }
        }

        &_list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $gap-24;
            align-items: stretch;
            margin-bottom:$space-xxl;

            @include sp {
                gap: $gap-36 $gap-24;
            }

            @media all and (max-width:540px) {
                gap: $gap-36;
            }

            &_item {
                display:flex;
                flex-direction: column;
                position:relative;
                border-radius: 1em;
                border: solid 2px $border-pt01;
                padding:$space-ls $space-s $space-s;

                @include sp {
                    padding:$space-xls $space-xm $space-xm;
                }

                .num {
                    position:absolute;
                    top:-1em;
                    left:50%;
                    transform: translatex(-50%);
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    background:$num-01;
                    color:$txt-tit-pt03;
                    width:2em;
                    height:2em;
                    border-radius: 10em;
                    font-family: $font-1;
                    @include font-txt-18;
                    box-shadow: 2px 4px 8px rgba(43, 126, 192, 0.2);

                    @include sp {
                        width: 2em;
                        height:2em;
                        font-size:$font-txt-18;
                    }
                }

                .item_tit {
                    font-size: $font-tit-20;
                    line-height:1.4;
                    margin-bottom:$space-s;

                    @include sp {
                        font-size:$font-txt-20;
                    }
                }

                .icon {
                    text-align:center;
                    margin-bottom:$space-m;
                    margin-top: auto;

                    img {
                        width:auto;
                        height:clamp(80px, vw(104), 104px);

                        @include sp {
                            height:104px;
                        }
                    }
                }
                .txtArea {
                    font-size: $font-txt-14;
                    font-weight: $font-400;
                    margin-top:auto;
                }
            }
        }

        @include sp {
            .features_list {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media all and (max-width:540px) {
            .features_list {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    /* マルサンがつくるトレーラハウス */
    .marusan_trailerhouse {
        background-color:$bk-pt02;
        overflow: hidden;
        padding:$space-sec-120 0;

        @include sp {
            padding:$space-xxl 0;
        }

        &_inner {
            @include container-1200;
            max-width:1180px;

            @include sp {
                width:100%;
            }
        }

        &_lead {
            max-width:1050px;
            margin:0 auto;

            @include sp {
                width:100%;
            }
        }

        &_tit {
            display:flex;
            justify-content: space-between;
            align-items: center;
            line-height:1.4;
            margin:0 auto;

             @include sp {
                width:80vw;
                margin:0 auto $space-m;
                flex-direction: column-reverse;
                text-align:center;
             }
    
            .ja {
                @include font-tit-40;
                color:$txt-tit-pt01;

                @include sp {
                    display:block;
                }
            }

            .en {
                font-size:$font-tit-120;
                color:$txt-tit-pt03;
                font-family: $font-1;
                letter-spacing: 0;

                @include sp {
                    font-size:$font-tit-80--sp;
                    display:block;
                }
            }
        }

        &_txtArea {
            @include font-txt-16;
            margin:0 0 $space-sec-120;
            font-weight: $font-bold;
            line-height:2;

            @include sp {
                width:80vw;
                margin:0 auto $space-xxl;
                font-size:$font-txt-14;
                font-weight:$font-400;
            }
        }

        &_list {
            display:flex;
            flex-direction: column;
            gap:$gap-120;

            @include sp {
                gap:$gap-40;
            }

            &_item {
                position:relative;
                display:flex;
                justify-content: space-between;
                gap:$gap-64;
                padding:$space-xxl;
                z-index:2;

                @include sp {
                    padding:10vw;
                    gap:$gap-32;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: calc(50% - 50vw);
                    width: calc(50vw + 50%);
                    height: 100%;
                    background: #fff;
                    box-shadow: 40px 20px 20px rgba(234, 228, 214, 1);
                    z-index:-1;

                    @include sp {
                        right:0;
                        width:100%;
                        box-shadow: 20px 8px 12px #EAE4D6;
                    }
                }

                &:nth-of-type(even) {
                    flex-direction: row-reverse;
                    padding:$space-xxl;

                    @include sp {
                        padding:10vw;
                    }

                    &:after {
                        left: calc(50% - 50vw);
                        box-shadow: -40px 20px 20px rgba(234, 228, 214, 1);

                        @include sp {
                            left:0;
                            box-shadow: 20px 8px 12px #EAE4D6;
                        }
                    } 
                }

                @include sp {
                    flex-direction: column;

                    &:nth-of-type(even) {
                        flex-direction: column;
                    }
                }

                .txtArea {
                    max-width:460px;
                    line-height:1.5;

                    @include sp {
                        max-width:none;
                    }

                    .en-num {
                        font-size:$font-txt-14;
                        display:block;
                        margin-bottom:$space-m;
                        color:$txt-tit-pt02;
                        font-family: $font-1;
                        font-weight:$font-400;
                    }
                    &_tit {
                        font-size:$font-tit-20;
                        margin-bottom:$space-l;

                        @include sp {
                            font-size:$font-txt-20;
                            margin-bottom:$space-l;
                        }
                    }
                    &_txt {
                        font-size: $font-txt-14;
                    }
                }

                .imgArea {
                    margin-top:-104px;
                    margin-inline: auto;
                    width: 100%;
                    min-width:50%;
                    aspect-ratio: 524 / 394;
                    overflow: hidden;

                    @include sp {
                        margin-top:0;
                    }

                    img {
                        display:block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    /* products */
    .products {
        position:relative;
        background:$bk-pt01;
        padding:$space-sec-100 0;

        @include sp {
            background:#fff;
            padding:0;
        }

        &_tit {
            position:absolute;
            width:100%;
            height:auto;
            text-align:center;
            color:$txt-tit-pt01!important;
            font-size:$font-tit-62;
            top:-0.7em;
            left:50%;
            transform: translatex(-50%);
            font-family: $font-1;
            font-weight: $font-bold;
            letter-spacing: $letter-space-en;

            @include sp {
                position:relative;
                top:inherit;
                left:inherit;
                transform: translatex(0);
                font-size:$font-txt-18;
                margin-bottom:$space-xls;
            }
        }
        
        &_inner {
            @include container-1280;
            display:flex;
            flex-direction: column;
            gap:$gap-72;

            @media all and (max-width:1280px) {
                max-width:100%;
            } 
            
            @include sp {
                gap:0;
                width:100%;
            }
        }
        
        &_box {
            background:$bk-pt03;
            padding:$space-sec-100 $space-l;

            @include sp {
                padding:$space-xxl $space-s--sp;
            }

            &:first-child {
                @include sp {
                    padding:$space-xxl $space-s--sp 0;

                    .trailerhouse_table {
                        margin-bottom:0;
                    }
                }
            }

            &_tit {
                @include font-tit-40;
                text-align:center;
                margin-bottom:$space-l;
                color:$txt-default-pt01;

                @include sp {
                    font-size:min(28px, vw(28, 375));
                }
            }

            &_img {
                max-width:530px;
                width:80%;
                margin:0 auto;

                @include sp {
                    margin-bottom:$space-ms;
                }
            }

            .products_txtArea {
                text-align:center;
                margin-bottom:$space-xl;

                .name {
                    font-size:$font-tit-24;
                    font-family: $font-1;
                    font-weight:$font-bold;
                    letter-spacing: $letter-space-en;
                }

                .price {
                    @include font-txt-16;
                    font-family: $font-1;

                    @include sp {
                        font-size:$font-txt-14;
                    }

                    .tax {
                        font-size:$font-txt-13;

                        @include sp {
                            font-size:$font-txt-10;
                        }
                    }
                }
            }

            .products_point_list {
                display:flex;
                gap:$gap-24;
                margin-bottom:$space-xl;
                @include container-1050;
                width:100%;

                @include sp {
                    flex-direction: column;
                    gap:$gap-24--sp;
                }

                &_item {
                    background:$bk-pt04;
                    padding:$space-l;

                    @include pc {
                        width:calc(50% - 12px);
                    }

                    @include sp {
                        padding:$space-xls $space-xm--sp $space-l;
                    }

                    .point {                        
                        color:$txt-tit-pt02;
                        margin-bottom:$space-m;
                        font-family: $font-1;
                        font-size:$font-txt-14;
                        font-weight: $font-bold;
                    }

                    .item_tit {
                        font-size:$font-tit-24;
                        margin-bottom:$space-m;

                        @include sp {
                            font-size:$font-txt-20;
                        }
                    }

                    .item_img {
                        margin-bottom:$space-m;

                        @include sp {
                            margin-bottom:$space-l;
                        }

                        & img {
                            border-radius: 8px;
                        }
                    }

                    .item_txt {
                        font-size: $font-txt-14;
                        
                    }
                }
            }

            .fig_list {
                @include container-1050;
                display:grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top:$space-l;
                margin-bottom:$space-xl;
                justify-content: center;
                width:100%;

                @media all and (max-width:1050px) {
                    max-width:100%;
                }

                @include sp {
                    width:100%;
                    grid-template-columns: 1fr;
                    justify-items: center;
                    margin-bottom:$space-l;
                }

                &_item {
                    max-width:510px;
                    width:100%;
                }
            }

            .trailerhouse_table {
                @include container-800;
                margin-bottom:$space-sec-100;

                @media all and (max-width:800px) {
                    max-width:100%;
                }

                @include sp {
                    width:100%;
                    margin-bottom:$space-l--sp;
                }

                tr {
                    display: flex;
                    gap: $gap-48;
                    border-top: 1px solid $border-pt02;

                    &:last-child {
                        border-bottom: 1px solid $border-pt02;
                    }
                }

                th,td {
                    padding-block: 0.6em;
                    @include font-txt-16;
                }

                th {
                    width: 6em;
                    flex-shrink: 0;
                    text-align: left;
                    color: $txt-th-pt03;
                    white-space: nowrap;
                }

                td {
                    flex: 1;
                    min-width: 0;
                    overflow-wrap: anywhere;
                    word-break: normal;
                    color:$txt-default-pt01;
                }
            }

        }
    }

    /* +1の活用 */
    .plus-One {
        background:$bk-pt02;
        padding:$space-sec-120 0;

        @include sp {
            padding:$space-xxl 0;
        }

        &_inner {
            @include container-1050;

            @media all and (max-width:1050px) {
                max-width:100%;
            }
        }

        &_tit_en {
            @include container-1280;
            color:$txt-tit-pt01;
            @include font-txt-18;
            font-family: $font-1;
            letter-spacing: $letter-space-en;

            @include sp {
                text-align: center;
                margin-bottom:$space-xls;
            }
        }

        &_tit_h2 {
            display:flex;
            justify-content: space-between;
            align-items: center;
            color:$txt-tit-pt01;
            margin-bottom:$space-m;

            @include sp {
                flex-direction: column-reverse;
                text-align: center;
            }

            .tit {
                @include font-tit-40;
            }

            .plus {
                font-size:$font-tit-120;
                margin-right:$space-xxl;
                color:$txt-tit-pt02;
                font-family: $font-1;
                letter-spacing: 0;
                line-height: 1;

                @include sp {
                    font-size:$font-tit-80--sp;
                    margin-right:0;
                    margin-bottom:$space-m;
                }
            }
        }

        .txtArea.top {
            color:$txt-tit-pt01;
            @include font-txt-16;
            font-weight:$font-bold;
            margin-bottom:$space-sec-100;
            line-height: 2;

            @include sp {
                width:80vw;
                margin-inline:auto;
                margin-bottom:$space-xxlm;
                color:$txt-default-pt01;
                font-size: $font-txt-14;
                font-weight: $font-400;
            }
        }

        &_list {
            display:flex;
            flex-direction: column;
            gap:$space-xl;
            width:100%;
            margin:0 auto;

            @include sp {
                gap:$gap-24--sp;
            }

            &_item {
                display:flex;
                justify-content:space-between;
                align-items:center;
                background:$txt-tit-pt03;

                @include sp {
                    flex-direction: column;
                }

                .imgArea {
                    margin-inline: auto;
                    width: 100%;
                    max-width: 420px;
                    min-width:400px;
                    aspect-ratio: 420 / 315;
                    overflow: hidden;

                    @include sp{
                        max-width:100%;
                        min-width:auto;
                    }

                    img {
                        display:block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .txtArea {
                    max-width:830px;
                    padding:$space-l $space-xxl;

                    @include sp {
                        padding:$space-l $space-xm--sp;
                    }

                    .plus-One_tit {
                        font-size:$font-tit-24;
                        color:$txt-tit-pt01;
                        margin-bottom:$space-m;

                        @include sp {
                            font-size:$font-txt-24;
                            text-align: center;
                            margin-bottom:$space-l;
                        }

                        .ja {
                            vertical-align: middle;
                        }

                        .en {
                            font-family: $font-1;
                            font-size: $font-tit-32;
                            vertical-align: middle;
                        }
                    }
                    .txt {
                        font-size: $font-txt-14;
                    }
                }
            }
        }
    }

    /*展示場案内*/
    .exhibition {
        background:$bk-pt03;
        padding:$space-sec-120 0;

        @include sp {
            padding:$space-xxl 0;
        }

        &_inner {
            @include container-1050;
            display:flex;
            gap:$gap-48;
            padding:0;
            margin-bottom:$space-xxl;

            @include sp {
                flex-direction: column;
                gap:0;
            }

            .txtArea {
                padding:$space-s 0;

                @include sp {
                    padding: 0;
                }

                .exhibition_tit {
                    @include font-tit-40;
                    color:$txt-tit-pt01;
                    margin-bottom:$space-xl;

                    @include sp {
                        margin-bottom:$space-xm;
                    }
                }
                .txt {
                    @include font-txt-16;
                }
            }

            .imgArea {
                max-width:770px;
                width:100%;
                margin:0 auto;
                aspect-ratio: 770 / 435;
                overflow: hidden;

                @include sp {
                    margin-bottom:$space-xm;
                }

                img {
                    display:block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    /*お問合せリンク*/
    .contact_link {
        transition:all .2s;

        @include pc {
            &:hover {
                filter:brightness(0.8);
            }
        }
    }

    .trailerhouse_contact {
        display:flex;
        justify-content: space-between;
        align-items: center;
        max-width:1050px;
        width:80vw;
        margin:0 auto;
        background:$bk-contact;
        padding:2em 3em;
        border-radius: 1em;
        box-shadow: 8px 12px 24px rgba(31, 99, 154, 0.2);

        @include sp {
            flex-direction: column-reverse;
            padding:2em 2em;
            gap:$gap-18;
        }

        &_tit {
            color:$txt-tit-pt03!important;
            font-size:$font-tit-56;
            margin:0;
            font-family: $font-1;
            font-weight: $font-bold;
            letter-spacing: 0;

            @include sp {
                line-height:1;
            }
        }

        &_btn {
            text-align:left;
            margin-top:1em;

            @include sp {
                text-align:center;
                margin-top:18px;
            }

            .txt {
                position:relative;
                display:inline-block;
                font-size: $font-txt-14;
                background:$bk-pt03;
                border-radius: 6em;
                letter-spacing: 0;
                padding:1em 3em 1em 2em;
                font-weight:$font-bold;
                letter-spacing: 0.05em;
            }

            .icon {
                position:absolute;
                top:50%;
                right:0;
                transform: translate(-50%, -50%);
                width:1.5em;
                height:1.5em;
            }
        }

        .txtArea {
            .trailerhouse_contact_tit {
                text-align: left;

                @include sp {
                    text-align: center;
                }
            }
        }

        .imgArea {
            max-width:120px;
            width:clamp(50px, vw(120), 120px);
            height:auto;
        }
    }
}