@charset "UTF-8";
:root {
    --font-1:'Lato', sans-serif;
    --font-default:-apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    --font-default-c:#736a5f;
    --bk-1:#fcf3e4;
    --btn:#768d96;
    --bk-2:#e2f1f2;
    --border-c:#BFB9B1;
    --text-link:#BFB9B1;
}

.editor-styles-wrapper {
    font-family:var(--font-1);
}

a {
    color:var(--text-link);
}

h1 {
    line-height:1.6;
}

h2 {
    font-size:20px;
    background:var(--bk-1);
    padding:0.5em 1em;
    color:var(--font-default-c);
    border-top:solid 2px var(--font-default-c);
    border-bottom:solid 2px var(--font-default-c);
}

@media all and (max-width:540px) {
    h2 {
        font-size:19px;
    }
}

h3 {
    position:relative;
    font-size:20px;
    color:var(--font-default-c);
    border-bottom: dotted 2px var(--btn);
    padding:0.5em 0.5em 0.5em 1em;
}

@media all and (max-width:540px) {
    h3 {
        font-size:18px;
    }
}

h3:after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    width: 6px;
    height: 35%;
    background: var(--btn);
}

h4 {
    font-size:18px;
    color:var(--font-default-c);
    padding:0.5em 1em;
    background:var(--bk-2);
}

@media all and (max-width:540px) {
    h4 {
        font-size:16px;
    }
}

h5 {
    font-size:18px;
    color: var(--btn);
    padding:0em;
    margin:0.8em 0.5em;
}

@media all and (max-width:540px) {
    h5 {
        font-size:16px;
    }
}

h6 {
    font-size:16px;
    color:var(--font-default-c);
    border-bottom:dotted 1px var(--font-default-c);
    padding:0.8em 1em;
    margin:0.5em 0;

    @media all and (max-width:540px) {
        h6 {
            font-size:15px;
        }
    }
}


ul {
    list-style-type: disc;
    padding-left:1.5em;
    margin:1.5em 0;
}

ol {
    margin:1.5em 0;
    padding-left:1.5em;
}

p {
    /*padding:0 1em;*/
    margin:1em 0.5em;
}

img {
    width:auto;
    max-width:100%;
}

table {
    th, td {
        border:solid 1px var(--border-c);
        color:var(--font-default-c);
        padding:0.5em;
    }

    th {
        background:var(--bk-2);
    }
}  

