/*固定ページ共通*/

.page_default_main {
    padding-top:10em;

    .content-title{
        margin:0 auto 8%;

        @media all and (max-width:540px) {
            margin:0 auto 15%;
        }

        p {
            font-size:3rem;
            text-align: center;

            @media all and (max-width:540px) {
                font-size:2rem;
            }
        }
    }
}

.free-area {
    .content-body {
        p, ol, li, table, dl {
            @media all and (max-width:540px) {
                font-size:1.5rem;
            }
        }

        a {
            color:$text-link;
            transition:all .3s;

            &:hover {
                text-decoration: underline;
            }
        }

        h2 {
            font-size:2rem;
            background:$bk-1;
            padding:0.5em 1em;
            color:$font-default-c;
            border-top:solid 2px $font-default-c;
            border-bottom:solid 2px $font-default-c;

            @media all and (max-width:540px) {
                font-size:1.9rem;
            }
        }

        h3 {
            position:relative;
            font-size:2rem;
            color:$font-default-c;
            border-bottom: dotted 2px $btn;
            padding:0.5em 0.5em 0.5em 1em;

            @media all and (max-width:540px) {
                font-size:1.8rem;
            }

            &:after {
                display: inline-block;
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translatey(-50%);
                width: 8px;
                height: 35%;
                background: $btn;
            }
        }

        h4 {
            font-size:1.8rem;
            color:$font-default-c;
            padding:0.5em 1em;
            background:$bk-2;

            @media all and (max-width:540px) {
                font-size:1.6rem;
            }
        }

        h5 {
            font-size:1.8rem;
            color:$btn;
            padding:0em;
            margin:0.8em 0.5em;

            @media all and (max-width:540px) {
                font-size:1.6rem;
            }
        }

        h6 {
            font-size:1.6rem;
            color:$font-default-c;
            border-bottom:dotted 1px $font-default-c;
            padding:0.8em 1em;
            margin:0.5em 0;

            @media all and (max-width:540px) {
                font-size:1.5rem;
            }
        }

        ul {
            list-style-type: disc;
            padding-left:1.5em;
            margin:1.5em 0;
        }

        ol {
            margin:1.5em 0;
            padding-left:2em;
        }

        p {
            /*padding:0 1em;*/
            margin:1em 0.5em;
        }

        img {
            width:auto;
            max-width:100%;
        }

        table {
            th, td {
                border:solid 1px $border-c;
                color:$font-default-c;
                padding:0.5em;
            }

            th {
                background:$bk-2;
            }
        }  

        .page_header_title {
            p {
                padding:0;
            }
        }

        .wp-block-table my-table th {
            background: $table-th;
        }
    }
}

.content-title {
    width:80vw;
    margin:8% auto 10%;
    line-height: 1;
    font-size:4.2rem;
    font-family: $font-default;
    font-weight:500;
    color:$font-default-c;

    @media all and (max-width:768px) {
        width:90vw;
        font-size:3.2rem;
        margin:20% auto 12%;
    }

    .en {
        display:inline-block;
        font-size:2rem;
        font-family: $font-1;
        font-weight:800;

        @media all and (max-width:768px) {
            font-size:1.8rem;
        }

        @media all and (max-width:540px) {
            font-size:1.6rem;
        }
    }

    .ja {
        font-size:4.2rem;
        color:$font-default-c;
        line-height:1.4;

        @media all and (max-width:768px) {
            font-size:3.6rem;
        }

        @media all and (max-width:540px) {
            font-size:3.2rem;
        }
    }
}

.page {
    background:$body-bk-color;
    letter-spacing: 0.1em;

    &_main{
        overflow: hidden;
        line-height: 1.8;
    }

    &_section {
        margin:15% 0;
        color:$font-default-c;

        @media all and (max-width:1024px) {
            margin:20% 0;
        }

        @media all and (max-width:540px) {
            margin:25% 0;
        }
    }

    &_content {
        max-width:1440px;
        width:80vw;
        margin:5% auto 10%;

        @media all and (max-width:768px) {
            width:90vw;
        }
    }

    &_nav {
        &_list {
            width:auto;
            display:grid;
            grid-template-columns: repeat( auto-fill, minmax(200px,16%));
            place-content: center;
            text-align: center;
            gap:2rem 0;
            border-radius: 0.5em;
            color:$font-default-c;
            background:#fff; 
            padding:1.5em 2em;
            margin:5% auto 5%;
            text-align: center;

            @media all and (max-width:540px) {
                grid-template-columns: 1fr 1fr;
                padding:1.5em 0;
                gap:1rem 1rem;
                background:inherit;
            }

            li {
                position:relative;
                text-align:center;


                @media all and (max-width:540px) {
                    padding-right:1.6em;
                    background:#fff;
                    border-radius: 0.2em;
                }

                &:after {
                    content:'';
                    display:inline-block;
                    position:absolute;
                    top:55%;
                    right:0;
                    transform:translatey(-50%) rotate(90deg);
                    width:6px;
                    height:13px;
                    background-image:url(assets/images/common/arrow-brown.svg);
                    background-repeat: no-repeat;
                    background-size:contain;

                    @media all and (max-width:540px) {
                        right:1em;
                    }
                }
                a {
                    position:relative;
                    padding:0.5em;

                    @media all and (max-width:540px) {
                        display:block;
                        position:relative;
                        top:50%;
                        transform: translatey(-50%);
                        padding:0.6em 0.5em;
                    }
                }
            }
        }
    }

    &_title-pic {
        margin-right:-10vw;

        @media all and (max-width:768px) {
            margin-right:-10vw;
        }

        .parallax-img {
            width:90vw;
            height:(490/1440)*100vw;
            overflow: hidden;
            margin:0 auto;

            @media all and (max-width:768px) {
                width:100vw;
            }

            @media all and (max-width:540px) {
                height:(250/540)*100vw;
            }
      
            img {
                height: auto;
                width: 100%;
            }
        }
    }
}


/**====================================================
    table　スクロールヒント
=====================================================**/
.js-scrollable-wrap {
    white-space: nowrap;
}
.js-scrollable {
    word-break: break-all;
    table-layout: fixed;
    display: block;
    overflow: scroll;
}

/**====================================================
    table　style
=====================================================**/
.page_table {
    border-collapse: separate;
    border-spacing: 1em 0;
    max-width:1440px;

    tbody {
        -webkit-text-size-adjust: 100%;
      }


    th {
        border-collapse: separate;
        border-spacing: 5px 10px;
        padding:1.5em 2.5em;
    }

    td {
        padding:1.5em 2.5em;
        max-width:900px;
        min-width:300px;
        white-space:normal;
        word-wrap:break-word!important;
    }
}


/**====================================================
    ファイルアイコン
=====================================================**/

/*PDF*/
a[href*=".pdf"]::after {
    content: "\f1c1";
    font-family: "Font Awesome 5 Free";
    color: #F30401;
    padding-left:0.2em;
    font-size:1.4em;
}

/*word*/
a[href*=".doc"]::after,
a[href*=".docx"]::after {
  content: "\f1c2";
  font-family: "Font Awesome 5 Free";
  color: #0061C2;
  padding-left:0.2em;
  font-size:1.4em;
}

/*Excel*/
a[href*=".xls"]::after,
a[href*=".xlsx"]::after {
  content: "\f1c3";
  font-family: "Font Awesome 5 Free";
  color: #1F6F43;
  padding-left:0.2em;
  font-size:1.4em;
}


/*アクセス非表示*/
.page .address {
    display:none;
}













