/*記事ページここから*/
.single {
    background:$bk-page;

    &_main {
        line-height: 1.8;
    }

    /*記事ページ入力エリアここから*/
    &_container {
        margin:0 auto;
        width:80vw;
        max-width:1040px;

        @media all and (max-width:540px) {
            width:90vw;
        }
    }

    &_header_title {
        width:100%;
        font-size:2.8rem;
        margin:12% auto 2%;
        border-bottom:solid 1px $font-default-c;
        padding:0.5em 0;
        line-height: 1.6;

        @media all and (max-width:540px) {
            font-size:2.2rem;
        }
    }

    &_tit_list {
        display:flex;
        justify-content:space-between;

        .post-categories {
            display:flex;
            gap:0.3em;

            @media all and (max-width:1024px) {
                margin-bottom:0.3em;
            }

            li {
                a {
                    font-size:1.2rem;
                    letter-spacing: 0.1em;
                    color:$blue-c;
                    border:solid 1px $blue-c;
                    border-radius: 3em;
                    padding:0.1em 0.6em;
                }
            }
        }
    } 

    &_content {
        margin:8% auto 5%;
        background:#fff;
        padding:5% 3%;
        border-radius: 0.5em;
    }
}



/*最近の記事*/
.single-news {
    padding:8vw 10vw;
    background:#fff;
    margin-top:8vw;

    &_h2 {
        display:inline-block;
        width:auto;
        font-size:2.8rem;
        letter-spacing: 0.1em;
        @include gradation-font;
        margin-bottom:5%;
    }
}
.single_meta {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:4rem;
    place-content: center;
    margin:0 auto;

    @media all and (max-width:768px) {
        grid-template-columns: 1fr 1fr;
    }

    @media all and (max-width:414px) {
        grid-template-columns: 1fr;
        gap:4em;
    }

    .item_meta {
        color:$font-default-c;
    /* サムネイル */
    .item_pic {
        //border:solid 1px $color-b;
        box-shadow: 10px 10px 20px rgba(110, 110, 110, 0.1);
        margin-bottom:0.6em;
        transition:all .3s;

        &:hover {
            scale:0.95;
            filter: brightness(50%);
        }

        a {
            display:block;
            width:100%;
        }
    }

    /* タイトル */
    .item_title {
        font-size:1.5rem;
        font-weight:bold;
        letter-spacing: 0.1em;
        margin-bottom:0.2em;
    }

    .item_inner {
        display:flex;
        justify-content: space-between;
        margin-bottom:0.5em;

        @media all and (max-width:1024px) {
            display:block;
        }
    }

    /* カテゴリー */
    .post-categories {
        display:flex;
        gap:0.3em;

        @media all and (max-width:1024px) {
            margin-bottom:0.3em;
        }

        li {
            a {
                font-size:1.2rem;
                letter-spacing: 0.1em;
                color:$blue-c;
                border:solid 1px $blue-c;
                border-radius: 3em;
                padding:0.1em 0.6em;
            }
        }
    }
    
    /* 日時 */
    .item_time {
        font-size:1.3rem;
        letter-spacing: 0.1em;
    }

    /* 本文抜粋表示 */
    .item_excerpt {
        font-size:1.2rem;
        letter-spacing: 0.1em;
    }
}
}
/*最近の記事ここまで*/


/*Next Prev*/
.post-navigation-link-previous {
    position:fixed;
    top:50%;
    left: 0;
    z-index:5;
    font-size:1.8rem;
    letter-spacing: 0.2em;
    writing-mode: vertical-rl;
    transform:rotate(180deg);

    @media all and (max-width:540px) {
        display:none;
    }

    a {
        display:block;
        padding:1em;
        transition:all .3s;

        &:hover {
            background:#fff;
            border-radius:3em;
            padding:1em 1.8em;
        }
    }
}


.post-navigation-link-next {
    position:fixed;
    top:50%;
    right: 0;
    z-index:5;
    font-size:1.8rem;
    letter-spacing: 0.2em;
    writing-mode: vertical-rl;

    @media all and (max-width:540px) {
        display:none;
    }

    a {
        display:block;
        padding:1em;
        transition:all .3s;

        &:hover {
            background:#fff;
            border-radius:3em;
            padding:1em 1.7em;
        }
    }
}

