/*記事ページここから*/
.single {
    background:#fff;

    .content-title {
        margin:0;
    }

    &_main {
        line-height: 1.8;
    }

    /*記事ページ入力エリアここから*/
    &_container {
        margin:0 auto;
        width:80vw;
        max-width:1040px;

        @media all and (max-width:540px) {
            width:90vw;
        }
    }

    &_header_title {
        width:100%;
        font-size:2.8rem;
        margin:12% auto 2%;
        border-bottom:solid 1px $font-default-c;
        padding:0.5em 0;
        line-height: 1.6;

        @media all and (max-width:540px) {
            font-size:2.2rem;
        }
    }

    &_tit_list {
        display:flex;
        justify-content:space-between;

        .post-categories {
            display:flex;
            gap:0.3em;

            @media all and (max-width:1024px) {
                margin-bottom:0.3em;
            }

            li {
                a {
                    font-size:1.2rem;
                    letter-spacing: 0.1em;
                    color:$blue-c;
                    border:solid 1px $blue-c;
                    border-radius: 3em;
                    padding:0.1em 0.6em;
                }
            }
        }
    } 

    &_content {
        margin:8% auto 5%;
        background:#fff;
        padding:5% 3%;
        border-radius: 0.5em;
    }
}


/*Next Prev*/
.post-navigation-link-previous {
    position:fixed;
    top:50%;
    left: 0;
    z-index:5;
    font-size:1.8rem;
    letter-spacing: 0.2em;
    writing-mode: vertical-rl;
    transform:rotate(180deg);

    @media all and (max-width:540px) {
        display:none;
    }

    a {
        display:block;
        padding:1em;
        transition:all .3s;

        &:hover {
            background:#fff;
            border-radius:3em;
            padding:1em 1.8em;
        }
    }
}


.post-navigation-link-next {
    position:fixed;
    top:50%;
    right: 0;
    z-index:5;
    font-size:1.8rem;
    letter-spacing: 0.2em;
    writing-mode: vertical-rl;

    @media all and (max-width:540px) {
        display:none;
    }

    a {
        display:block;
        padding:1em;
        transition:all .3s;

        &:hover {
            background:#fff;
            border-radius:3em;
            padding:1em 1.7em;
        }
    }
}

